<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{email.activation.title}">JHipster creation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/unifi_logo.ico|}" />
</head>
<body>
<p th:text="#{email.activation.greeting(${#strings.capitalize(user.login)})}">
            Dear
        </p>
 <table>
   <th:block th:each="noti : ${lists}">
      <tr>   
       <td   th:if="${noti.action != 'delegated' and noti.page !='Opportunity Name'}">
     
       <a th:href="@{|${baseUrl}/#/home/${noti.createdBy}|}" th:text="${#strings.capitalize(noti.createdBy)}"></a><span th:text="' '+${noti.action}+' '"></span>
       <span th:if="noti.fileNamecontent"><b th:text="${noti.fileNamecontent} +' '"></b></span>
       <span th:text="${noti.page}+' '"></span><a th:href="@{|${baseUrl}/#/${{noti.page == 'Strategy' ? 'strategy-master/strategy-master/'+noti.oppId : noti.page == 'Opportunity' ? 'opportunity-master/opportunity-master/'+noti.oppId : noti.page == 'Presentation' || noti.page == 'Brochure' || noti.page == 'Brochure Support files' ? 'presentation-master/presentation-master/'+ noti.oppId : 'user-management/'+ noti.oppname}}|}" th:text="${noti.oppname}"></a><span th:text="${' '+#dates.format(noti.createdDate,'MMM d, y h:mm:ss a')}"></span> <hr></hr> </td>   
       
        <td th:if="${noti.action != 'delegated' and noti.page == 'Opportunity Name'}">      
        <a th:href="@{|${baseUrl}/#/home/${noti.createdBy}|}" th:text="${#strings.capitalize(noti.createdBy)}"></a><span th:text="' '+${noti.action}+' '"></span>
        <span th:if="noti.action"><b th:text="${noti.fileNamecontent}"></b></span>
        <span th:text="${noti.page} +' '+${noti.oppname}"></span>
        <span th:text="${#dates.format(noti.createdDate,'MMM d, y h:mm:ss a')}"></span> <hr></hr>
        </td>
      
        <td  th:if="${noti.action == 'delegated'}">       
        <a th:href="@{|${baseUrl}/#/home/${noti.createdBy}|}" th:text="${#strings.capitalize(noti.createdBy)}"></a><span th:text="' '+${noti.action}+' '+${noti.page}+' '">
       </span><a th:href="@{|${baseUrl}/#/opportunity-master/opportunity-master/${noti.oppId}|}" th:text="${noti.oppname}">></a>
        <span th:if="noti.action"><b th:text="' to ' +${noti.fileNamecontent}"></b></span>
        <span th:text="${#dates.format(noti.createdDate,'MMM d, y h:mm:ss a')}"></span> <hr></hr>
        </td>       
      </tr>
    
    
   </th:block>
</table>

<p style = "font-size:11px;font-family: Arial,Helvetica,sans-serif;">
<b><span th:text="#{email.notification.disclaimer}+' '"></span></b><span th:text="#{email.notification.text}"></span></p>
</body>
</html>