<style>

    .col-xs-3 .btn{
        padding:2px !important;
        padding-right: 4px !important;

    }
    .page-header{
         padding-bottom: 0px!important;
         border-bottom: 0px !important;
}
</style>

<div>
    <div class="well">

        <div class="page-header" style="margin:0">
            <div class="row">
                <div class="col-md-12"><h4 style="margin-top:0;"><span><strong>{{vm.externalResearch.name}}</strong></span></h4>
                <div class="pull-right" style="margin-top:-10px;">
                  
        			<button type="button" ng-click="review('Approved')" class="btn btn-md btn-primary" ng-disabled="vm.mydisable">
                  <span class="hidden-sm-down"> Reviews</span>
                </button>
                     <button type="button"
                        ui-sref="external-research.edit({id:vm.externalResearch.id})"
                        class="btn btn-md btn-primary" has-authority="Admin">
                    <span class="glyphicon glyphicon-pencil"></span> <span
                    class="hidden-sm-down"> Edit</span>
                </button>
                   
                        <button type="submit"
                                ui-sref="external-research"
                                class="btn btn-md btn-info">
                            <span class="glyphicon glyphicon-arrow-left"></span><span>Back</span>
                        </button>
                   
                   
                
            </div></div>
        </div> 
        
         <dl class="dl-horizontal jh-entity-details">
       <!--  <dt><span>Name:</span></dt>
        <dd>
            <span>{{vm.externalResearch.name}}</span>          
        </dd> -->
        <dt><span>Sector Type:</span></dt>
        <dd> <ul class="list-unstyled">
                <li ng-repeat="sectors in vm.externalResearch.opportunitySector">
                    <span >{{sectors.sectorName}}</span>
                </li>
            </ul></dd>      
        <dt><span>Email Id:</span></dt>
        <dd>{{vm.externalResearch.emailId}}</dd>     
        <dt><span>Contact No:</span></dt>
        <dd>
         <ul class="list-unstyled">
                <li ng-repeat="contacts in vm.externalResearch.externalRAContacts">
                    <span >{{contacts.contactNo}}</span>
                </li>
            </ul></dd>
        <dt><span>Address:</span></dt>
        <dd>{{vm.externalResearch.address }}</dd>
        <dt><span>Description:</span></dt>
        <dd>{{vm.externalResearch.description}}</dd>       
    </dl>  
      

</div>
</div>
    <footer class="footer footer-dark" ng-cloak>
        <p data-translate="footer" style="font-size: 12px;margin-left: 9px">&copy;{{currentYear}}, All rights reserved.</p>
    </footer>

</div>
