<div class="container">
<div class="col-md-8 col-md-offset-2"> 
<div class="well wellDialog">
<div class="row">


    
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

        <div class="form-group">
        <div class="col-xs-3 pull-right">

        <button type="button" class="btn btn-info pull-right"
                ng-click="vm.clear()"> <span class="glyphicon glyphicon-arrow-left"></span><span> Back</span></button>
        </div>
        <h4 class="modal-title" id="myexternalResearchLabel" ng-show="!vm.externalResearch.id">Create External Research Analyst</h4>
        <h4 class="modal-title" id="myexternalResearchLabel1" ng-show="vm.externalResearch.id">Edit External Research Analyst</h4>
    </div>
   	 <jhi-alert></jhi-alert>
        <jhi-alert-error></jhi-alert-error>     

        <div class="form-group" ng-show="!vm.externalResearch.id">

            <input type="text" class="form-control" name="name" id="field_strategyName"
                    ng-model="vm.externalResearch.name"
                   placeholder="Name"/>
        
        </div>
         <div class="form-group" ng-show="vm.externalResearch.id">

            <input type="text" class="form-control" name="name" id="field_strategyName"
                    ng-model="vm.externalResearch.name"  
                   placeholder="Name"/>
        
        </div>
        
        <div class="form-group" ng-show="!vm.externalResearch.id">
   
   <multiple-autocomplete ng-model="vm.externalResearch.opportunitySector" 
     object-property="sectorName"
     suggestions-arr=" vm.opportunitySectors">
</multiple-autocomplete>
        </div>
        
        <div class="form-group" ng-show="vm.externalResearch.id">

           <multiple-autocomplete ng-model="vm.externalResearch.opportunitySector" 
     object-property="sectorName"
     suggestions-arr=" vm.opportunitySectors">
</multiple-autocomplete>
     
        </div>
        <div class="form-group"ng-show="vm.externalResearch.id">

            <input type="text" class="form-control" name="emailId" id="field_emailId"
                   ng-model="vm.externalResearch.emailId"
                   placeholder="Email Id"/>
     
        </div>
        <div class="form-group" ng-show="!vm.externalResearch.id">

            <input type="text" class="form-control" name="emailId" id="field_emailId"
                   ng-model="vm.externalResearch.emailId"
                   placeholder="Email Id"/>
     
        </div>
        
        <!--  <div class="form-group" ng-show="vm.externalResearch.id">

            <input type="text" class="form-control" name="contactNo" id="field_contactNo"
                   ng-model="vm.externalResearch.contactNo"
                   placeholder="Contact No"/>
     
        </div> -->
        
          <div class="form-group">

                    <label for="field_oppcontactName">Contact Details</label><br>
           <fieldset ng-repeat="contact in vm.externalResearch.externalRAContacts" class="fieldContact">           

	            <div class="col-xs-2">
	                <input class="form-control contactText" name="field_oppcontactNo" id="field_oppcontactNo" type="text" placeholder="Contact No" ng-model="contact.contactNo">
	            
	            </div>
	            <div class="col-xs-1 deleteContact">
				<button class="btn btn-default" ng-click="removeContact(contact)">X</button></div>
             </fieldset>
     
			     <!--   <fieldset ng-repeat="contact in vm.externalResearch.externalRAContacts" 
			       style="display: inline-block;vertical-align: top;">           
			
			            <div class="col-xs-2">
			                <input class="form-control" name="field_oppcontactNo" id="field_oppcontactNo" type="text" placeholder="Contact Number" ng-model="contact.contactNo" style="width: 105px !important;"> 
			            </div>
			            <div class="col-xs-1" style="margin-left: 60px;">
							<button class="btn btn-default" ng-click="removeContact(contact)">X</button></div>
             		</fieldset> -->
           
        </div>
        
         <div class="form-group"><button type="button" ng-click="addContact()" style="padding: 2px;padding-right:4px" class="btn btn-primary">Add Contact</button></div>

        
        
         <div class="form-group" ng-show="!vm.externalResearch.id">

            <input type="text" class="form-control" name="address" id="field_address"
                   ng-model="vm.externalResearch.address"
                   placeholder="Address"/>
     
        </div>
         <div class="form-group" ng-show="vm.externalResearch.id">

            <input type="text" class="form-control" name="address" id="field_address"
                   ng-model="vm.externalResearch.address"
                   placeholder="Address"/>
     
        </div>
        
         <div class="form-group" ng-show="!vm.externalResearch.id">

            <textarea class="form-control" name="emailId" id="field_description"
                   ng-model="vm.externalResearch.description" rows="4" cols="120"
                   placeholder="Description"></textarea>
     
        </div>
        
           <div class="form-group" ng-show="vm.externalResearch.id">

            <textarea class="form-control" name="description" id="field_description"
                   ng-model="vm.externalResearch.description" rows="4" cols="120"
                   placeholder="Description"></textarea>
     
        </div>
         
<div>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()" style="padding: 2px; padding-right:4px">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary" style="padding: 2px;padding-right:4px">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>

   
</form>
</div></div>
 <footer class="footer footer-dark" ng-cloak>
        <p data-translate="footer" style="font-size: 12px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy;{{currentYear}}, All rights reserved.</p>
    </footer>

</div>
 
</div>