
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStrategyMasterLabel" ng-show="!vm.strategyMaster.id">Create Strategy</h4>
        <h4 class="modal-title" id="myStrategyMasterLabel1" ng-show="vm.strategyMaster.id">Edit Strategy</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.strategyMaster.id">
           <!-- <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.strategyMaster.id" readonly />-->
        </div>

        <div class="form-group">

            <input type="text" class="form-control" name="strategyName" id="field_strategyName"
                    ng-model="vm.strategyMaster.strategyName"
                    required ng-maxlength="40" placeholder="Strategy Name"/>
         <!--   <div ng-show="editForm.strategyName.$invalid">
                <p class="help-block"
                    ng-show="editForm.strategyName.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.strategyName.$error.maxlength">
                    This field cannot be longer than 40 characters.
                </p>
            </div>-->
        </div>

        <div class="form-group" ng-show="vm.strategyMaster.id">

            <input type="text" class="form-control" name="Aum" id="field_strategyAum"
                   ng-model="vm.strategyMaster.aum"
                   required ng-maxlength="40" placeholder="AUM"/>
       <!--     <div ng-show="editForm.Aum.$invalid">
                <p class="help-block"
                   ng-show="editForm.Aum.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.Aum.$error.maxlength">
                    This field cannot be longer than 40 characters.
                </p>
            </div>-->
        </div>



        <div class="form-group" ng-show="vm.strategyMaster.id">

            <input type="text" class="form-control" name="TotalStocks" id="field_strategyTotalStocks"
                   ng-model="vm.strategyMaster.totalStocks"
                   required ng-maxlength="40" placeholder="Total Stocks"/>
       <!--     <div ng-show="editForm.TotalStocks.$invalid">
                <p class="help-block"
                   ng-show="editForm.TotalStocks.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.TotalStocks.$error.maxlength">
                    This field cannot be longer than 40 characters.
                </p>
            </div>-->
        </div>



    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
