<style>
    .col-xs-3 .btn{
    padding:0px !important;

}
    .col-xs-3{
        padding-right: 0px !important;
    }

</style>



<div>
    <div class="well">


    <jhi-alert></jhi-alert>

        <div>
        <div class="row">


        </div>
    </div>
       <!-- <div style="margin-bottom: 5px"></div>-->

    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
					<th></th>
                    <th jh-sort-by="subject"><span>Subject</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="opportunityMaster.masterName.oppName"><span>Opportunity Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                  <th jh-sort-by="createdBy"><span>Created By</span> <span class="glyphicon glyphicon-sort"></span></th>
                </tr>
            </thead>
            <tbody>
               <!--  <tr ng-repeat-start="learning in vm.opportunityLearnings">
 		<td><button class="btn btn-md btn-primary" ng-if="expanded">-</button>
              <button class="btn btn-md btn-primary" ng-if="!expanded">+</button></td>
            
              			 <td><a ng-click="expanded = !expanded;vm.selectIndex($index)"><strong>{{learning.subject}}</strong></a></td>
              			 <td><a ui-sref="opportunity-master-detail({id:learning.opportunityMaster.id})">{{learning.opportunityMaster.masterName.oppName}}</a></td>
              			  <td><a ui-sref="home-research({createdBy:learning.opportunityMaster.createdBy})">{{learning.createdBy}}</a></td>
              			 
              			 </tr> -->
              			 
            <tr ng-repeat-start="learning in vm.opportunityLearnings" ng-click="vm.expandCollapse($index, !learning.expanded)">
 		<td><button class="btn btn-md btn-primary" ng-if="learning.expanded" ng-click="vm.expandCollapse($index, !learning.expanded)">-</button>
              <button class="btn btn-md btn-primary" ng-if="!learning.expanded" ng-click="vm.expandCollapse($index, !learning.expanded)">+</button></td>
            
              			 <td><a><strong>{{learning.subject}}</strong></a></td>
              			 <td><a ui-sref="opportunity-master-detail({id:learning.opportunityMaster.id})">{{learning.opportunityMaster.masterName.oppName}}</a></td>
              			  <td><a ui-sref="home-research({createdBy:learning.opportunityMaster.createdBy})">{{learning.createdBy}}</a></td>
              			 
              			 </tr>
              			
              		
<tr ng-if="learning.expanded" ng-repeat-end="">
   <td colspan="3">
  <span ng-bind-html="learning.description"></span>
     </td> 
     
                  <!--   <td><a ng-click="vm.subject(learning.subject)">{{learning.subject}}</a></td> -->
                  
             </tr> 
               
              
            </tbody>


        </table>

</div>
  <div class="text-center" style="margin-bottom: -5px">
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"  item="vm.itemsValue"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
        </div>
    </div>
    <footer class="footer footer-dark" ng-cloak>
        <p data-translate="footer" style="font-size: 12px">&nbsp;&nbsp;&nbsp;&nbsp;&copy;{{currentYear}}, All rights reserved.</p>
    </footer>

</div>


