<style>
    .col-xs-3 .btn {
        padding: 0px !important;

    }

    .col-xs-3 {
        padding-right: 0px !important;
    }

    .thbutton {
        width: 10%
    }


</style>


<div>
    <div class="well">
        <jhi-alert></jhi-alert>

        <div>
            <div class="row">
            </div>
        </div>

        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="policyName"><span>Policy Name</span> <span class="glyphicon glyphicon-sort">

                    </span></th>
                    <th jh-sort-by="fileName"><span>File Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdBy"><span>CreatedBy</span> <span class="glyphicon glyphicon-sort"></span>
                    </th>
<!--                    <th jh-sort-by="filetype"><span>File Type</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th has-authority="Admin" >Action</th>
                    <th class="thbutton" has-any-authority="Admin,Policies">
                        <div class="pull-right">
                            <div class="col-xs-3">
                                <button class="btn btn-primary" ui-sref="policiesFileUpload.new">
                                    <span></span>
                                    <span style="padding: 10px">Create New Policy</span>
                                </button>
                            </div>
                        </div>
                    </th>

                </tr>
                </thead>
                <tbody infinite-scroll="vm.loadPage(vm.page + 1)"
                       infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="policiesFileUpload in vm.policiesFileUpload track by policiesFileUpload.id">
                    <td>
                        <a ng-click="vm.loadPolicyPreview(policiesFileUpload.fileData)">{{policiesFileUpload.policyName}}</a>
                        </span>
                    </td>

                    <td>
                        {{policiesFileUpload.fileName}}
                        </span></td>
                    <td>
                        {{policiesFileUpload.createdBy}}
                        </span></td>
<!--                    <td>-->
<!--                        {{policiesFileUpload.filetype}}-->
<!--                        </span></td>-->

                    <td has-authority="Admin" >
                        <button type="submit" class="btn btn-primary btn-sm" ng-click="vm.deletePolicy(policiesFileUpload)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">

                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="text-center" style="margin-bottom: -5px">

            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"
                            item="vm.itemsValue"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                            ng-change="vm.transition()"></uib-pagination>
        </div>
    </div>

    <footer class="footer footer-dark" ng-cloak>
        <p data-translate="footer" style="font-size: 12px">&nbsp;&nbsp;&nbsp;&nbsp;&copy;{{currentYear}}, All rights
            reserved.</p>
    </footer>

</div>


