<div class="">
  <div class="col-md-6 col-md-offset-3">
    <div class="well wellDialog">

        <div>
            <jhi-alert></jhi-alert>

            <!--    <button type="button" class="btn btn-default pull-right"
                        ng-click="vm.clear()">Go Back</button>-->
            <h4 style="text-align: center;"><strong>User Delegation</strong></h4>
        </div>

        <div class="row">

          
                <form name="editForm" role="form">
                
                 <div class="form-group">
                        <label for="field_fromName"></label>
                        <input class="form-control" type="text" name="userName" id="field_fromName" ng-model="vm.fromName" ng-change="fromUser(vm.fromName)" auto-complete="vm.autoCompleteOptionsFrom" placeholder="From UserName"/>

                    </div> 
                      <!--  <div class="form-group">
                        <label for="field_fromName"></label>
                        <input class="form-control" list="test" name="userName1">
                        <datalist id="test" >
                        <option value="{{fromName1 }}">
                        </datalist>

                    </div> -->
                     <div class="form-group">

            <label for="field_opportunityMaster">Opportunities</label>
             <select class="form-control" id="field_opportunityMaster" multiple name="selectedOpportunity" ng-model="vm.selectedOpportunity"
                    ng-options="opportunityMaster as opportunityMaster.masterName.oppName for opportunityMaster in vm.opportunityMasters track by opportunityMaster.id">

             </select>

        </div>
<!-- 
                    <div class="form-group">
                        <label for="field_opportunityName"></label>
                        <input class="form-control" type="text" name="opportunityName" id="field_opportunityName" ng-model="vm.oppName"  auto-complete="vm.autoCompleteOptionsopp" placeholder="Opportunity Name"/>

                    </div> -->

                    <div class="form-group">
                        <label for="field_userName"></label>
                        <input class="form-control" type="text" name="userName" id="field_userName" ng-model="vm.deleUserName"  auto-complete="vm.autoCompleteOptions" placeholder="To UserName"/>

                    </div>

                    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary pull-right" style="padding:2px;padding-right:4px" ng-click="vm.save()">
                         &nbsp;<span>Submit</span>
                    </button>

                </form>

            </div>





        </div>
          <footer class="footer footer-dark" ng-cloak>
        <p data-translate="footer" style="font-size: 12px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy;{{currentYear}}, All rights reserved.</p>
    </footer>
    </div>
  
</div>

