<style xmlns="http://www.w3.org/1999/html">

    .success-text {
        color: #00C851; }

    .primary-text {
        color: #4285F4; }
   .primary-aligned{
       padding-top: 3px;
       padding-right: 20px;
       padding-bottom: 3px;
       padding-left: 20px;
   }


    a.glyphicon-bell {
        position: relative;
        font-size: 1.5em;
        color: grey;
        cursor: pointer;
    }
    span.fa-comment {
        position: absolute;
        font-size: 1.0em;
        top: 4px;
        color: red;
        right: 6px;
        width: 20px;
        height: 20px;
        background-color: red;
        border-radius: 50%;

    }
    span.num {
        position: absolute;
        font-size: 1.2rem;
        top: 2px;
        color: #fff;
        width: 20px;
        height: 20px;
        right: 6px;
        text-align: center;

    }


</style>


<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/Unifi_logo.png" alt="logo"/>
            </a>
        </div>


        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active" ng-switch-when="true" has-any-authority="Research,Master,RM">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm">Home</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown
                    class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm"><b>
                                Main Menu</b>
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-left" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="opportunity-master" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Opportunity Master</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="strategy-master" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Strategy Master</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="Admin,Research,RM,Presentation_Brochure">
                            <a ui-sref="presentation-master" ng-click="vm.collapseNavbar()" >
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Unifi Presentation</span>
                            </a>
                        </li>
                        <li has-any-authority="Admin,Research,Master,CIO" ui-sref-active="active">
                            <a ui-sref="fixed-learnings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Learnings - PMS</span>
                            </a>
                        </li>
                        <li has-any-authority="Admin,Research,Master,CIO" ui-sref-active="active">
                            <a ui-sref="learning-aif" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Learnings AIF - HYF</span>
                            </a>
                        </li>
                        <li has-any-authority="Admin,Research,Master,CIO" ui-sref-active="active">
                            <a ui-sref="external-research" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>External Research</span>
                            </a>
                        </li>
                        <li has-any-authority="Communication_Letters" ui-sref-active="active">
                            <a ui-sref="communication-letter" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Letters To Management</span>
                            </a>
                        </li>
                        </li>
                        <li has-authority="Admin" ui-sref-active="active">
                            <a ui-sref="confidential-letter" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Confidential Letter</span>
                            </a>
                        </li>
                        <li has-authority="Admin">
                            <a ui-sref="due-diligence" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Due Diligence</span>
                            </a>
                        </li>
                        <li has-authority="Admin">
                            <a ui-sref="opportunity-name-list" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Opportunity Name</span>
                            </a>
                        </li>
                        <li has-authority="Admin">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span>User management</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="policiesFileUpload" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Policies</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer"
                    ng-switch-when="true">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm"><b>
                               {{vm.account.firstName |capitalize}}</b>
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-left" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="decimal-configuration.get({id:vm.account.id})" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="Research,Master">
                            <a ui-sref="opportunity-delegation" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>User Delegation</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="Admin">
                            <a ui-sref="opportunity-admin-delegation" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>User Delegation</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span>Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch="vm.isAuthenticated()">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span>Sign out</span>
                            </a>
                        </li>
                    </ul>

                </li>


                <li uib-dropdown class="dropdown pointer notification" ng-switch-when="true">

                    <!--   <a class="dropdown-toggle" uib-dropdown-toggle href="" id="noti_menu">

                         <notification-icon animation="my-custom-animation" ng-init="vm.customPending = 0" count=vm.count style="width:10px;height: 10px">
                           <i class="glyphicon glyphicon-bell"></i>
                       </notification-icon>
                               &lt;!&ndash;<span class="glyphicon glyphicon-bell"></span>&ndash;&gt;



                       </a>-->

                    <a uib-dropdown-toggle href="" class="dropdown-toggle glyphicon glyphicon-bell"
                       ng-style="{'color': vm.notificationValues.length > 0 ? '#da251c':''}">
                        <span class="fa fa-comment"></span>
                        <span class="num"
                              ng-repeat="x in vm.notificationValues | filter : {'dStatus' : 'UnRead'} as read">{{read.length}}</span>

                    </a>


                    <ul class="dropdown-menu dropdown-messages" uib-dropdown-menu
                        ng-style="{'height': vm.notificationValues.length > 5 ? '215px': 'auto'}">
                        <li ng-show="vm.notificationValues.length"><span><a class="pull-right"
                                                                            style="padding-right:23px;"
                                                                            ng-click="vm.clearNoti(vm.account.id);$event.stopPropagation()">Clear All</a><br/></span>
                        </li>
                        <div class="primary-aligned">

                        <span ng-show="vm.notificationValues.length" ng-repeat="noti in vm.notificationValues">
                            <li>

                                <div id="notitime">
                                    <span ng-click="vm.readstatus(noti.id,vm.account.id,'Read', noti)"
                                          ng-disabled="noti.dStatus === 'Read'">
                                        <span ng-if="noti.action !== 'delegated' && noti.page !='Opportunity Name'"><a
                                            ui-sref="home-research({createdBy:noti.createdBy})">{{noti.createdBy | capitalize}}</a> {{noti.action}} <span
                                            ng-if="noti.fileNamecontent"><strong>"{{noti.fileNamecontent}}"</strong></span> {{noti.page}} <a
                                            ui-sref="{{noti.page == 'Strategy' ? 'strategy-master-detail({id:noti.oppId})' : noti.page == 'Opportunity' ? 'opportunity-master-detail({id:noti.oppId})' : 'user-management-detail({login:noti.oppname})'}}">{{noti.oppname}}</a></span>
                                        <span ng-if="noti.action !== 'delegated' && noti.page == 'Opportunity Name'"><a
                                            ui-sref="home-research({createdBy:noti.createdBy})">{{noti.createdBy | capitalize}}</a> {{noti.action}} <span
                                            ng-if="noti.fileNamecontent"><strong>"{{noti.fileNamecontent}}"</strong></span> {{noti.page}} {{noti.oppname}}</span>

                                        <span ng-if="noti.action === 'delegated'"><a
                                            ui-sref="home-research({createdBy:noti.createdBy})">{{noti.createdBy | capitalize}}</a> {{noti.action}} {{noti.page}} <a
                                            ui-sref="opportunity-master-detail({id:noti.oppId})">{{noti.oppname}} </a><span
                                            ng-if="noti.fileNamecontent">to {{noti.fileNamecontent}}</span> </span>
                                        <!--<span ng-if="noti.page === 'Strategy'"><a ui-sref="home-research({createdBy:noti.createdBy})">{{noti.createdBy | capitalize}}</a> {{noti.action}} {{noti.page}} <a ui-sref="strategy-master-detail({id:noti.oppId})">{{noti.oppname}}</a></span>-->

                                    </span>
                                    <span ng-style="{'color': noti.dStatus=='Read' ? 'black':'red'}"
                                          class="pull-right text-muted small">{{noti.createdDate | date :"MMM d, y h:mm:ss a" }}&nbsp;&nbsp;
                                    <button type="button" class="close"
                                            ng-click="vm.close(noti.id,vm.account.id,$index,'deleted');$event.stopPropagation()">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                    </span>
                                </div>

                             </li>


                        <li class="divider"></li>

                        </span>


                            <li ng-hide="vm.notificationValues.length">
                                <div>
                                    No notifications
                                </div>
                            </li>
                        </div>


                    </ul>


                </li>


                <!--  <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="Admin" uib-dropdown class="dropdown pointer">
                      <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                          <span>
                              <span class="glyphicon glyphicon-tower"></span>
                              <span class="hidden-sm">Administration</span>
                              <b class="caret"></b>
                          </span>
                      </a>
                      <ul class="dropdown-menu" uib-dropdown-menu>
                          <li ui-sref-active="active">
                              <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                  <span class="glyphicon glyphicon-user"></span>&nbsp;
                                  <span>User management</span>
                              </a>
                          </li>

                          &lt;!&ndash; jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here &ndash;&gt;
                      </ul>
                  </li>
  -->

                <!--    <li ui-sref-active="active" ng-switch="vm.isAuthenticated()" ng-switch-when="true">
                        <a href=""  id="logout1">
                            <span class="glyphicon glyphicon-user"></span>&nbsp;
                            <span class ="primary-text">{{vm.account.login |capitalize}}</span>
                        </a>

                    </li>-->
            </ul>
        </div>
    </div>
</nav>
