<style xmlns="http://www.w3.org/1999/html">

    .success-text {
        color: #00C851; }

    .primary-text {
        color: #4285F4; }
   .primary-aligned{
       padding-top: 3px;
       padding-right: 20px;
       padding-bottom: 3px;
       padding-left: 20px;
   }


    a.glyphicon-bell {
        position: relative;
        font-size: 1.5em;
        color: grey;
        cursor: pointer;
    }
    span.fa-comment {
        position: absolute;
        font-size: 1.0em;
        top: 4px;
        color: red;
        right: 3px;
    }
    span.num {
        position: absolute;
        font-size: 0.6em;
        top: 2px;
        color: #fff;
        right: 10px;

    }


</style>


<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/Unifi_logo.png" alt="logo"/>
            </a>
        </div>


        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active" ng-switch-when="true" has-authority = "Research">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm">Home</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm">
                                Main Menu
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-left" uib-dropdown-menu>
                        <li has-authority="Admin">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span>User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="strategy-master" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Strategy Master</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="opportunity-master" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Opportunity Master</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="Admin">
                            <a ui-sref="opportunity-name" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Opportunity Name</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer" ng-switch-when="true">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm">
                               {{vm.account.firstName |capitalize}}
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-left" uib-dropdown-menu>

                        <li ui-sref-active="active">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span>Password</span>
                            </a>
                        </li>

                        <li ui-sref-active="active" ng-switch="vm.isAuthenticated()">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span>Sign out</span>
                            </a>
                        </li>



                    </ul>



                </li>


                <li uib-dropdown class="dropdown pointer">

                 <!--   <a class="dropdown-toggle" uib-dropdown-toggle href="" id="noti_menu">

                      <notification-icon animation="my-custom-animation" ng-init="vm.customPending = 0" count=vm.count style="width:10px;height: 10px">
                        <i class="glyphicon glyphicon-bell"></i>
                    </notification-icon>
                            &lt;!&ndash;<span class="glyphicon glyphicon-bell"></span>&ndash;&gt;



                    </a>-->

                    <a class="glyphicon glyphicon-bell">
                        <span class="fa fa-comment"></span>
                        <span class="num">2</span>

                    </a>

                    <ul class="dropdown-menu dropdown-messages" style="width: 310px;" uib-dropdown-menu>
                        <div class="primary-aligned">

                        <span ng-repeat="noti in vm.notificationValues">
                            <li>

                                <div>
                                    <span>A new {{noti.page}} <strong>"{{noti.oppname}}"</strong> was created by {{noti.createdBy}}</span>
                                    <span class="pull-right text-muted small">{{noti.createdDate | date :"MMM d, y h:mm:ss a" }}</span>
                                </div>

                        </li>


                        <li class="divider"></li>

                        </span>

                        </div>

                    </ul>
                </li>






                <!--  <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="Admin" uib-dropdown class="dropdown pointer">
                      <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                          <span>
                              <span class="glyphicon glyphicon-tower"></span>
                              <span class="hidden-sm">Administration</span>
                              <b class="caret"></b>
                          </span>
                      </a>
                      <ul class="dropdown-menu" uib-dropdown-menu>
                          <li ui-sref-active="active">
                              <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                  <span class="glyphicon glyphicon-user"></span>&nbsp;
                                  <span>User management</span>
                              </a>
                          </li>

                          &lt;!&ndash; jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here &ndash;&gt;
                      </ul>
                  </li>
  -->

                <!--    <li ui-sref-active="active" ng-switch="vm.isAuthenticated()" ng-switch-when="true">
                        <a href=""  id="logout1">
                            <span class="glyphicon glyphicon-user"></span>&nbsp;
                            <span class ="primary-text">{{vm.account.login |capitalize}}</span>
                        </a>

                    </li>-->
            </ul>
        </div>
    </div>
</nav>
