<style>
.capitalize {
    text-transform: capitalize;
}
div.scrollmenu {

    overflow: auto;
    white-space: nowrap;
}
.bordercolor{
background-color: #f9dca7;

}
.bordercolor th, .bordercolor td {
	border-color: #000 !important;
}
.headborder{
background-color: #9bbd85;}
 td, th {
  border: 1px ;
  padding: 5px 15px;
  text-align: center;
}
table {
  border-collapse: collapse;

}
.noborder{
border:none !important;
      border-right: none !important;
		border-left: none !important;
		border-top: none !important;
		border-right-style: none !important;
		border-left-style: none !important;
}

</style>
 <div ng-cloak>
     <div class="row">
         <div class="col-md-3 col-sm-6 col-xs-12">

         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">

         </div>

         <div class="clearfix visible-sm-block"></div>

         <div class="col-md-3 col-sm-6 col-xs-12">

         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">

         </div>
     </div>
    <div class="row">
        <div class="col-md-12">
         <!--   <h1>Welcome!</h1>-->

            <div ng-switch="vm.isAuthenticated()">
            <div ng-switch-when="true">
            	<!--<div class="alert alert-success">
                    You are logged in as user "{{vm.account.login |capitalize}}".
                    <br>
                    </div>-->
                     <div class="scrollmenu">
                         <table id="mytable" class="table table-bordered">
                             <thead>

                             <tr class="headborder">

                                 <th rowspan="2" style="vertical-align: middle;">Opportunity Name</th>
                                 <th rowspan="2" style="vertical-align: middle;">Strategy Name</th>
                                 <th rowspan="2" style="vertical-align: middle;">Prev. close</th>
                                 <th rowspan="2" style="vertical-align: middle;">M Cap</th>
                                 <th scope="col" colspan="5">PAT</th>
                                 <th scope="col" colspan="5">P/E</th>
                                 <th scope="col" colspan="5">RoE</th>
                                 <th scope="col" colspan="5">D/E</th>
                                 <th scope="col" colspan="5">PAT Growth</th>
                                 <th scope="col" colspan="1">PEG - FY 18</th>

                             </tr>

                             <tr>

                                <!-- <th scope="col"></th>
                                 <th scope="col"></th>-->
                                <!-- <th scope="col"></th>
                                 <th scope="col"></th>-->
                                 <!--pat-->
                                 <th scope="col">FY {{prevYearBefore}}</th>
                                 <th scope="col">FY {{prevYear}}</th>
                                 <th scope="col">FY {{currentYear}}</th>
                                 <th scope="col">FY {{nextYear}}</th>
                                 <th scope="col">FY {{neYearNext}}</th>


                                 <!-- p/E-->
                                 <th scope="col">FY {{prevYearBefore}}</th>
                                 <th scope="col">FY {{prevYear}}</th>
                                 <th scope="col">FY {{currentYear}}</th>
                                 <th scope="col">FY {{nextYear}}</th>
                                 <th scope="col">FY {{neYearNext}}</th>
                                 <!--ROE-->
                                 <th scope="col">FY {{prevYearBefore}}</th>
                                 <th scope="col">FY {{prevYear}}</th>
                                 <th scope="col">FY {{currentYear}}</th>
                                 <th scope="col">FY {{nextYear}}</th>
                                 <th scope="col">FY {{neYearNext}}</th>
                                 <!--D/E-->
                                 <th scope="col">FY {{prevYearBefore}}</th>
                                 <th scope="col">FY {{prevYear}}</th>
                                 <th scope="col">FY {{currentYear}}</th>
                                 <th scope="col">FY {{nextYear}}</th>
                                 <th scope="col">FY {{neYearNext}}</th>
                                 <!--PAT growth-->

                                 <th scope="col">FY {{prevYearBefore}}</th>
                                 <th scope="col">FY {{prevYear}}</th>
                                 <th scope="col">FY {{currentYear}}</th>
                                 <th scope="col">FY {{nextYear}}</th>
                                 <th scope="col">FY {{neYearNext}}</th>

                                 <th scope="col">PEG</th>

                             </tr>
                             </thead>
                        <tbody>
                             <tr ng-repeat="value in vm.dashboardvalues | orderBy:predicate:reverse | filter:paginate">
                                 <td scope="col" style="text-align: left"><a ui-sref="opportunity-master-detail({id:value.opportunityMasterid.id})">{{value.opportunityMasterid.masterName.oppName}}</a></td>
                                 <td style="text-align: left">
                                     <span ng-repeat="strategy in value.strategyMasterList">
                                         <a ui-sref="strategy-master-detail({id:strategy.id})">{{strategy.strategyName}}</br></a>
                                     </span>
                                 </td>
                                 <td style="text-align: right">{{value.cmp | number:2}}</td>
                                 <td style="text-align: right">{{value.marketCap | number:2}}</td>
                                 <td style="text-align: right">{{value.patFirstYear | number:2}}</td>
                                 <td style="text-align: right">{{value.patSecondYear | number:2}}</td>
                                 <td style="text-align: right">{{value.patThirdYear | number:2}}</td>
                                 <td style="text-align: right">{{value.patFourthYear | number:2}}</td>
                                 <td style="text-align: right">{{value.patFifthYear | number:2}}</td>
                                 <td style="text-align: right">{{value.peFirstYear | number:2}}</td>
                                 <td style="text-align: right">{{value.peSecondYear | number:2}}</td>
                                 <td style="text-align: right">{{value.peThirdYear | number:2}}</td>
                                 <td style="text-align: right">{{value.peFourthYear | number:2}}</td>
                                 <td style="text-align: right">{{value.peFifthYear | number:2}}</td>
                                 <td style="text-align: right">{{value.roeFirstYear | number:2}}</td>
                                 <td style="text-align: right">{{value.roeSecondYear | number:2}}</td>
                                 <td style="text-align: right">{{value.roeThirdYear | number:2}}</td>
                                 <td style="text-align: right">{{value.roeFourthYear | number:2}}</td>
                                 <td style="text-align: right">{{value.roeFifthYear | number:2}}</td>
                                 <td style="text-align: right">{{value.deFirstYear | number:2}}</td>
                                 <td style="text-align: right">{{value.deSecondYear | number:2}}</td>
                                 <td style="text-align: right">{{value.deThirdColour | number:2}}</td>
                                 <td style="text-align: right">{{value.deFourthYear | number:2}}</td>
                                 <td style="text-align: right">{{value.deFifthYear | number:2}}</td>
                                 <td style="text-align: right">{{value.patGrowthFirst | number:2}}</td>
                                 <td style="text-align: right">{{value.patGrowthSecond | number:2}}</td>
                                 <td style="text-align: right">{{value.patGrowthThird | number:2}}</td>
                                 <td style="text-align: right">{{value.patGrowthFourth | number:2}}</td>
                                 <td style="text-align: right">{{value.patGrowthFifth | number:2}}</td>
                                 <td style="text-align: right">{{value.pegYearPeg | number:2}}</td>


                             </tr>
                             </tbody>
                         </table>



                  <!--   <div class="list-group">
                    <div class="list-group-item list-group-item-action" ng-repeat="opportunityMaster in vm.opportunityMasters track by opportunityMaster.id">

                    <a ui-sref="opportunity-master-detail({id:opportunityMaster.id})">{{opportunityMaster.masterName.oppName}}
                    </a>
                  </div>
                </div> -->
                </div>
                <div class="text-center">


                    <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"  item="vm.itemsValue"></jhi-item-count>
                    <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                </div>
            </div>


                <div ng-switch-when="false">



                 <!-- <button class="btn btn-primary" href="" ng-click="vm.login()">Sign in</button>.-->
                </div>


            </div>
        </div>
    </div>
</div>
<footer class="footer footer-dark" ng-cloak>
    <p data-translate="footer" style="font-size: 12px">&copy;{{currentYear}}, All rights reserved.</p>
</footer>


