<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
    <!--    <button type="button" class="btn btn-default pull-right"
                ng-click="vm.clear()">Go Back</button>-->
        <h4 class="modal-title" id="myOpportunityMasterLabel">Create Opportunity Name</h4>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label for="field_opportunitySecurityCode">Security Code</label>
            <input class="form-control" type="text" name="securityCode" id="field_opportunitySecurityCode" ng-model="vm.opportunityNames.securityCode"/>

        </div>

        <div class="form-group">
            <label for="field_opportunityMasterName">Opportuntiy Name</label>
            <input class="form-control" type="text" name="oppName" id="field_opportunityMasterName" ng-model="vm.opportunityNames.oppName"/>

        </div>

        <div class="form-group">
            <label for="field_opportunityMasterSector">Sector</label>
            <input class="form-control" type="text" name="sectorType" id="field_opportunityMasterSector" ng-model="vm.opportunityNames.sectorType"/>

        </div>

        <div class="form-group">
            <label for="field_opportunityMasterSector">Segment</label>
            <div class="radio">
                <label>
                    <input type="radio" name="segment" value="NSE" ng-model="vm.opportunityNames.segment">
                    NSE
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="segment" value="BSE" ng-model="vm.opportunityNames.segment">
                    BSE
                </label>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>

