<style>
</style>
<div class="modal-headers">
    <h3 class="modal-title" text-align="center">Reviews</h3>
</div>

<div class="row"  style="height: 500px; overflow: scroll; overflow-x: hidden; overflow-y: scroll;">

    <div class="comments-container">
        <ul id="comments-list" class="comments-list">
            <li>
                <div ng-repeat="review in $ctrl.reviews">
                    <div class="comment-main-level">
                        <div class="comment-box">
                            <div class="comment-head">
                                <span class="comment-name">{{review.createdBy}}</span>
                                <span>{{review.createdDate | date :"MMM d, y h:mm:ss a"}}</span>
                                <button class="btn btn-sm btn-info pull-right" ng-click="showTextArea=true" ng-show="review.reviewExternalList==null || review.reviewExternalList.length==0">Reply</button>

                                <!-- <i class="fa fa-heart"></i> -->
                            </div>
                            <div class="comment-content">
                                {{review.reviewText}}
                            </div>
                            <textarea ng-show="showTextArea" placeholder="Enter your Reply" ng-model="$ctrl.answerText" style="width:70%; float:left;"></textarea>
                            <button ng-show="showTextArea" class="btn btn-sm btn-primary" style="margin-left: 3px;" ng-click="$ctrl.answerSubmit(review, null, $index,null);showTextArea = false;">Submit</button>
                            <button  ng-show="showTextArea" class="btn btn-sm btn-warning" ng-click="showTextArea=false">Cancel</button>

                        </div>
                    </div>
                    <div  ng-repeat="answer in review.reviewExternalList">
                        <ul class="comments-list reply-list">

                            <li ng-class="{['level-' + ($index < 3 ? ''+$index: '3')]: answer.replyReview !== null}" class="answer-list">
                                <div class="comment-box">

                                    <div>
                                        <div class="comment-head">
                                            <span class="comment-name">{{answer.createdBy}}</span>
                                            <span>{{answer.createdDate | date :"MMM d, y h:mm:ss a"}}</span>
                                            <button class="btn btn-sm btn-info pull-right" ng-click="showReplyText=true" ng-show="$last && $index < 2">Reply</button>
                                        </div>
                                        <div class="comment-content">
                                            {{answer.replyText}}
                                        </div>
                                        <textarea ng-show="showReplyText" placeholder="Enter your reply" ng-model="$ctrl.answerText" style="width:70%; float:left;"></textarea>
                                        <button ng-show="showReplyText" class="btn btn-sm btn-primary" style="margin-left: 3px;" ng-click="$ctrl.answerSubmit(review, answer,$parent.$index,$index);showReplyText = false;">Submit</button>
                                        <button ng-show="showReplyText" class="btn btn-sm btn-warning" ng-click="showReplyText=false">Cancel</button>

                                    </div>
                                </div>

                            </li>


                        </ul></div>

                </div>
            </li>


        </ul>
    </div>
</div>


<div class="modal-footer">
    <textarea ng-model="$ctrl.comment" placeholder="Enter your Reviews" style="width:80%; float:left;"></textarea>
    <button class="btn btn-md btn-primary" ng-click="$ctrl.save()"
            ng-disabled="" >Submit</button>
    <button class="btn btn-md btn-warning" data-dismiss="modal" type="button" ng-click="$ctrl.clearDialog()">Cancel</button>
</div>

