<style>
</style>
<div class="modal-headers" id="review">
	<button type="button" class="close" data-dismiss="modal"
		aria-hidden="true" ng-click="$ctrl.clearDialog()">&times;</button>
	<h3 class="modal-title" text-align="center">Reviews</h3>

</div>

<div class="row"
	style="height: 500px; overflow: scroll; overflow-x: hidden; overflow-y: scroll;">

	<div class="comments-container">
		<ul id="comments-list" class="comments-list">
			<li>
				<div ng-repeat="review in $ctrl.reviews">
					<div class="comment-main-level">
						<div class="comment-box">
							<div class="comment-head">
								<span class="comment-name">{{review.createdBy}}</span> <span>{{review.createdDate
									| date :"MMM d, y h:mm:ss a"}}</span>
								<button class="btn btn-sm btn-info pull-right"
									ng-click="showTextArea=true; $ctrl.display(review)"
									ng-show="review.reviewExternalList==null || review.reviewExternalList.length==0">Edit</button>

								
							</div>
							<div class="comment-content">
								<span ng-bind-html="review.reviewText"></span>
							</div>
							<!-- <textarea ng-show="showTextArea" placeholder="Enter your Reply" ng-model="$ctrl.answerText" style="width:70%; float:left;"></textarea> -->
							<button ng-show="showTextArea" class="btn btn-sm btn-primary"
								style="margin-left: 3px;"
								ng-click="$ctrl.update($ctrl.updateReview,$index);showTextArea = false;">Save</button>
							<button ng-show="showTextArea" class="btn btn-sm btn-warning"
								ng-click="showTextArea=false">Cancel</button>
							<div ng-show="showTextArea">
								<div ckeditor="ckOptionsUpdate"
									ng-model="$ctrl.updateReview.reviewText" ready="onReady()"
									ng-change="changeCKeditor()"></div>
							</div>

						</div>
					</div>


				</div>
			</li>


		</ul>
	</div>
	<div class="addReview">
		<button ng-if="!$ctrl.showLearning" class="btn btn-md btn-warning"
			type="button" ng-click="$ctrl.showLearning=true;">Add
			Reviews</button>
		<button class="btn btn-md btn-primary" ng-show="$ctrl.showLearning"
			ng-click="$ctrl.save()" ng-disabled="">Save</button>
		<div ng-show="$ctrl.showLearning">
			<div ckeditor="ckOptionsAdd" ng-model="$ctrl.comment"
				ready="onReady()" ng-change="changeCKeditor()"></div>
		</div>
	</div>
</div>


<div class="modal-footer">

	<button class="btn btn-md btn-warning" data-dismiss="modal"
		type="button" ng-click="$ctrl.clearDialog()">Cancel</button>
</div>

