
<style>
    fieldset{
        background: #FCFCFC;
        padding: 16px;
        border: 1px solid #D5D5D5;
    }
    .addfields{
        margin: 10px 0;
    }
</style>
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="btn btn-default pull-right"
                ng-click="vm.clear()">Go Back</button>
        <h4 class="modal-title" id="myOpportunityMasterLabel">Create Opportunity</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.opportunityMaster.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.opportunityMaster.id" readonly />
        </div>

      <!--   <div class="form-group">
           <label for="field_opportunityMasterName">Opportuntiy Name</label>
            <select class="form-control"  name="masterName" id="field_opportunityMasterName" auto-complete="autoCompleteOptions"   ng-model="vm.opportunityMaster.masterName" ng-options="opportunityName as opportunityName.oppName for opportunityName in vm.opportunityNames track by opportunityName.id">
                <option value="">Select Name</option>
            </select>
         </div>-->

        <div class="form-group">
            <label for="field_opportunityMasterName">Opportuntiy Name</label>
            <input type="text" class="form-control" id="field_opportunityMasterName"
                   ng-model="vm.opportunityMaster.masterName.oppName"
                   placeholder="Select Name"
                   auto-complete="vm.autoCompleteOptions"/>
        </div>



        <div class="form-group">
            <label class="control-label" for="field_sectorType">Sector</label>
            <input type="text" id="field_sectorType"class="form-control" placeholder="Sector"
                   ng-model="vm.opportunityMaster.masterName.sectorType" />
        <div ng-show="editForm.oppName.$invalid">
                <p class="help-block"
                    ng-show="editForm.oppName.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.oppName.$error.max">
                    This field cannot be more than 50.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_oppDescription">Opportunity Description</label>
            <input type="text" class="form-control" placeholder="Description" name="oppDescription" id="field_oppDescription"
                    ng-model="vm.opportunityMaster.oppDescription"
                    required max="250"/>
            <div ng-show="editForm.oppDescription.$invalid">
                <p class="help-block"
                    ng-show="editForm.oppDescription.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.oppDescription.$error.max">
                    This field cannot be more than 250.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_opportunityMaster">Strategy</label>
             <select class="form-control" id="field_opportunityMaster" multiple name="selectedStrategyMaster" ng-value="selectedStrategyMaster" ng-model="vm.opportunityMaster.selectedStrategyMaster"
                    ng-options="strategyMaster as strategyMaster.strategyName for strategyMaster in vm.strategymasters track by strategyMaster.id">


            </select>

            <!--  <select class="form-control" id="field_opportunityMaster" multiple name="selectedStrategyMaster" ng-model="vm.opportunityMaster.strategyMapping"
                    ng-options="selectedStrategyMaster as strategyMaster.strategyName for strategyMaster in vm.strategymasters track by strategyMaster.id">
            </select> -->
           <!--  <select class="form-control" id="field_opportunityMaster" multiple name="selectedStrategyMaster" ng-init="getStrategyMaster(2)" ng-model="vm.opportunityMaster.strategyMapping">
            <option ng-repeat="strategy in vm.strategymasters" ng-value="strategy.id">{{strategy.strategyName}}</option>
            </select> -->


        </div>





             <div class="form-group row">
             <label for="field_oppcontactName">Company Contact Details</label>
             <fieldset ng-repeat="contact in vm.opportunityMaster.selectedoppContanct">
              <div class="col-xs-3">
                  <input class="form-control" name="field_oppcontactName" id="field_oppcontactName" type="text" placeholder="Name" ng-model="contact.name">
            </div>

            <div class="col-xs-3">
                <input class="form-control" name="field_oppcontactDes" id="field_oppcontactDes" type="text" placeholder="Designation" ng-model="contact.designation">
            </div>

            <div class="col-xs-3">
                <input class="form-control" name="field_oppcontactEmail" id="field_oppcontactEmail" type="text" placeholder="Email" ng-model="contact.email">
            </div>

            <div class="col-xs-2">
                <input class="form-control" name="field_oppcontactNo" id="field_oppcontactNo" type="text" placeholder="Contact Number" ng-model="contact.contactnum">
            </div>
            <div class="col-xs-1">
			<button ng-click="removeContact(contact)" aria-label="Remove" class="btn btn-warning">Delete</button></div>
             </fieldset>
             </div>
            <button type="button" ng-click="addContact()" class="btn btn-primary">Add Contact</button>





<div ng-show="vm.opportunityMaster.masterName.sectorType">
        <div  class="form-group" ng-if="vm.opportunityMaster.masterName.sectorType == 'Finance (including NBFCs)'">

            <label class="control-label">Summary Data</label>
            <table id="mytable" class="table table-bordered">
                <thead>

                <tr class="headborder">
                    <th style="width:15%;"></th>
                    <th style="width:15%;">FY16</th>
                    <th style="width:15%;">FY 17</th>
                    <th style="width:15%;">FY 18</th>
                    <th style="width:15%;">FY 19E</th>
                    <th style="width:15%;">FY 20E</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td scope="col">Net Interest Income</td>
                    <td><input name="netIntOne" ng-model="vm.opportunityMaster.financialSummaryData.netIntOne"  ng-disabled=""/> </td>
                    <td><input name="netIntTwo" ng-model="vm.opportunityMaster.financialSummaryData.netIntTwo" ng-disabled=""/> </td>
                    <td><input name="netIntThree" ng-model="vm.opportunityMaster.financialSummaryData.netIntThree" ng-disabled=""/></td>
                    <td><input name="netIntFour" ng-model="vm.opportunityMaster.financialSummaryData.netIntFour" ng-disabled=""/></td>
                    <td><input name="netIntFive" ng-model="vm.opportunityMaster.financialSummaryData.netIntFive" ng-disabled=""/></td>
                </tr>

                <tr>
                    <td scope="col">Non Interest Income</td>
                    <td><input name="nonIntOne" ng-model="vm.opportunityMaster.financialSummaryData.nonIntOne"  ng-disabled=""/> </td>
                    <td><input name="nonIntTwo" ng-model="vm.opportunityMaster.financialSummaryData.nonIntTwo" ng-disabled=""/> </td>
                    <td><input name="nonIntThree" ng-model="vm.opportunityMaster.financialSummaryData.nonIntThree" ng-disabled=""/></td>
                    <td><input name="nonIntFour" ng-model="vm.opportunityMaster.financialSummaryData.nonIntFour" ng-disabled=""/></td>
                    <td><input name="nonIntFive" ng-model="vm.opportunityMaster.financialSummaryData.nonIntFive" ng-disabled=""/></td>
                </tr>

                <tr>
                    <td scope="col">Total Income</td>
                    <td><input name="totIncOne" ng-model="vm.opportunityMaster.financialSummaryData.totIncOne" ng-value="getTotal(vm.opportunityMaster.financialSummaryData.netIntOne, vm.opportunityMaster.financialSummaryData.nonIntOne)" ng-disabled="true"/> </td>
                    <td><input name="totIncTwo" ng-model="vm.opportunityMaster.financialSummaryData.totIncTwo" ng-value="getTotal(vm.opportunityMaster.financialSummaryData.netIntTwo, vm.opportunityMaster.financialSummaryData.nonIntTwo)" ng-disabled="true"/> </td>
                    <td><input name="totIncThree" ng-model="vm.opportunityMaster.financialSummaryData.totIncThree" ng-value="getTotal(vm.opportunityMaster.financialSummaryData.netIntThree, vm.opportunityMaster.financialSummaryData.nonIntThree)" ng-disabled="true"/></td>
                    <td><input name="totIncFour" ng-model="vm.opportunityMaster.financialSummaryData.totIncFour" ng-value="getTotal(vm.opportunityMaster.financialSummaryData.netIntFour, vm.opportunityMaster.financialSummaryData.nonIntFour)" ng-disabled="true"/></td>
                    <td><input name="totIncFive" ng-model="vm.opportunityMaster.financialSummaryData.totIncFive" ng-value="getTotal(vm.opportunityMaster.financialSummaryData.netIntFive, vm.opportunityMaster.financialSummaryData.nonIntFive)" ng-disabled="true"/></td>
                </tr>

                <tr>
                    <td scope="col">Operating Expenses</td>
                    <td><input name="opExpOne" ng-model="vm.opportunityMaster.financialSummaryData.opExpOne"  ng-disabled=""/> </td>
                    <td><input name="opExpTwo" ng-model="vm.opportunityMaster.financialSummaryData.opExpTwo" ng-disabled=""/> </td>
                    <td><input name="opExpThree" ng-model="vm.opportunityMaster.financialSummaryData.opExpThree" ng-disabled=""/></td>
                    <td><input name="opExpFour" ng-model="vm.opportunityMaster.financialSummaryData.opExpFour" ng-disabled=""/></td>
                    <td><input name="opExpFive" ng-model="vm.opportunityMaster.financialSummaryData.opExpFive" ng-disabled=""/></td>
                </tr>

                <tr>
                    <td scope="col">Operating Profit</td>
                    <td><input name="opProOne" ng-model="vm.opportunityMaster.financialSummaryData.opProOne"  ng-disabled=""/> </td>
                    <td><input name="opProTwo" ng-model="vm.opportunityMaster.financialSummaryData.opProTwo" ng-disabled=""/> </td>
                    <td><input name="opProThree" ng-model="vm.opportunityMaster.financialSummaryData.opProThree" ng-disabled=""/></td>
                    <td><input name="opProFour" ng-model="vm.opportunityMaster.financialSummaryData.opProFour" ng-disabled=""/></td>
                    <td><input name="opProFive" ng-model="vm.opportunityMaster.financialSummaryData.opProFive" ng-disabled=""/></td>
                </tr>


                <tr>
                    <td scope="col">Provisions</td>
                    <td><input name="provisionsOne" ng-model="vm.opportunityMaster.financialSummaryData.provisionsOne"  ng-disabled=""/> </td>
                    <td><input name="provisionsTwo" ng-model="vm.opportunityMaster.financialSummaryData.provisionsTwo" ng-disabled=""/> </td>
                    <td><input name="provisionsThree" ng-model="vm.opportunityMaster.financialSummaryData.provisionsThree" ng-disabled=""/></td>
                    <td><input name="provisionsFour" ng-model="vm.opportunityMaster.financialSummaryData.provisionsFour" ng-disabled=""/></td>
                    <td><input name="provisionsFive" ng-model="vm.opportunityMaster.financialSummaryData.provisionsFive" ng-disabled=""/></td>
                </tr>

                <tr>
                    <td scope="col">PAT</td>
                    <td><input name="patOne" ng-model="vm.opportunityMaster.financialSummaryData.patOne"  ng-disabled=""/> </td>
                    <td><input name="patTwo" ng-model="vm.opportunityMaster.financialSummaryData.patTwo" ng-disabled=""/> </td>
                    <td><input name="patThree" ng-model="vm.opportunityMaster.financialSummaryData.patThree" ng-disabled=""/></td>
                    <td><input name="patFour" ng-model="vm.opportunityMaster.financialSummaryData.patFour" ng-disabled=""/></td>
                    <td><input name="patFive" ng-model="vm.opportunityMaster.financialSummaryData.patFive" ng-disabled=""/></td>
                </tr>

                <tr>
                    <td scope="col">EPS</td>
                    <td><input name="epsOne" ng-model="vm.opportunityMaster.financialSummaryData.epsOne"  ng-disabled=""/> </td>
                    <td><input name="epsTwo" ng-model="vm.opportunityMaster.financialSummaryData.epsTwo" ng-disabled=""/> </td>
                    <td><input name="epsThree" ng-model="vm.opportunityMaster.financialSummaryData.epsThree" ng-disabled=""/></td>
                    <td><input name="epsFour" ng-model="vm.opportunityMaster.financialSummaryData.epsFour" ng-disabled=""/></td>
                    <td><input name="epsFive" ng-model="vm.opportunityMaster.financialSummaryData.epsFive" ng-disabled=""/></td>
                </tr>

                <tr>
                    <td scope="col">Market Cap</td>
                    <td><input name="marCapOne" ng-model="vm.opportunityMaster.financialSummaryData.marCapOne"  ng-disabled=""/> </td>
                    <td><input name="marCapTwo" ng-model="vm.opportunityMaster.financialSummaryData.marCapTwo" ng-disabled=""/> </td>
                    <td><input name="marCapThree" ng-model="vm.opportunityMaster.financialSummaryData.marCapThree" ng-disabled=""/></td>
                    <td><input name="marCapFour" ng-model="vm.opportunityMaster.financialSummaryData.marCapFour" ng-disabled=""/></td>
                    <td><input name="marCapFive" ng-model="vm.opportunityMaster.financialSummaryData.marCapFive" ng-disabled=""/></td>
                </tr>

                <tr>
                    <td scope="col">AUM</td>
                    <td><input name="aumOne" ng-model="vm.opportunityMaster.financialSummaryData.aumOne"  ng-disabled=""/> </td>
                    <td><input name="aumTwo" ng-model="vm.opportunityMaster.financialSummaryData.aumTwo" ng-disabled=""/> </td>
                    <td><input name="aumThree" ng-model="vm.opportunityMaster.financialSummaryData.aumThree" ng-disabled=""/></td>
                    <td><input name="aumFour" ng-model="vm.opportunityMaster.financialSummaryData.aumFour" ng-disabled=""/></td>
                    <td><input name="aumFive" ng-model="vm.opportunityMaster.financialSummaryData.aumFive" ng-disabled=""/></td>
                </tr>

                <tr>
                    <td scope="col">Networth</td>
                    <td><input name="networthOne" ng-model="vm.opportunityMaster.financialSummaryData.networthOne"  ng-disabled=""/> </td>
                    <td><input name="networthTwo" ng-model="vm.opportunityMaster.financialSummaryData.networthTwo" ng-disabled=""/> </td>
                    <td><input name="networthThree" ng-model="vm.opportunityMaster.financialSummaryData.networthThree" ng-disabled=""/></td>
                    <td><input name="networthFour" ng-model="vm.opportunityMaster.financialSummaryData.networthFour" ng-disabled=""/></td>
                    <td><input name="networthfive" ng-model="vm.opportunityMaster.financialSummaryData.networthfive" ng-disabled=""/></td>
                </tr>

                <tr>
                    <td scope="col">ROE</td>
                    <td><input name="roeOne" ng-model="vm.opportunityMaster.financialSummaryData.roeOne" ng-value="getFinRoe(vm.opportunityMaster.financialSummaryData.patOne,0,vm.opportunityMaster.financialSummaryData.networthOne)" ng-disabled="true"/> </td>
                    <td><input name="roeTwo" ng-model="vm.opportunityMaster.financialSummaryData.roeTwo"  ng-value="getFinRoe(vm.opportunityMaster.financialSummaryData.patTwo,vm.opportunityMaster.financialSummaryData.networthOne,vm.opportunityMaster.financialSummaryData.networthTwo)" ng-disabled="true"/> </td>
                    <td><input name="roeThree" ng-model="vm.opportunityMaster.financialSummaryData.roeThree" ng-value="getFinRoe(vm.opportunityMaster.financialSummaryData.patThree,vm.opportunityMaster.financialSummaryData.networthTwo,vm.opportunityMaster.financialSummaryData.networthThree)" ng-disabled="true"/></td>
                    <td><input name="roeFour" ng-model="vm.opportunityMaster.financialSummaryData.roeFour"  ng-value="getFinRoe(vm.opportunityMaster.financialSummaryData.patFour,vm.opportunityMaster.financialSummaryData.networthThree,vm.opportunityMaster.financialSummaryData.networthFour)" ng-disabled="true"/></td>
                    <td><input name="roeFive" ng-model="vm.opportunityMaster.financialSummaryData.roeFive" ng-value="getFinRoe(vm.opportunityMaster.financialSummaryData.patFive,vm.opportunityMaster.financialSummaryData.networthFour,vm.opportunityMaster.financialSummaryData.networthfive)" ng-disabled="true"/></td>
                </tr>

                <tr>
                    <td scope="col">P/BV</td>
                    <td><input name="pbvOne" ng-model="vm.opportunityMaster.financialSummaryData.pbvOne" ng-value="getFinPbv(vm.opportunityMaster.financialSummaryData.marCapFour, vm.opportunityMaster.financialSummaryData.networthOne)" ng-disabled="true"/> </td>
                    <td><input name="pbvTwo" ng-model="vm.opportunityMaster.financialSummaryData.pbvTwo" ng-value="getFinPbv(vm.opportunityMaster.financialSummaryData.marCapFour, vm.opportunityMaster.financialSummaryData.networthTwo)" ng-disabled="true"/> </td>
                    <td><input name="pbvThree" ng-model="vm.opportunityMaster.financialSummaryData.pbvThree" ng-value="getFinPbv(vm.opportunityMaster.financialSummaryData.marCapFour, vm.opportunityMaster.financialSummaryData.networthThree)" ng-disabled="true"/></td>
                    <td><input name="pbvFour" ng-model="vm.opportunityMaster.financialSummaryData.pbvFour" ng-value="getFinPbv(vm.opportunityMaster.financialSummaryData.marCapFour, vm.opportunityMaster.financialSummaryData.networthFour)" ng-disabled="true"/></td>
                    <td><input name="pbvFive" ng-model="vm.opportunityMaster.financialSummaryData.pbvFive" ng-value="getFinPbv(vm.opportunityMaster.financialSummaryData.marCapFour, vm.opportunityMaster.financialSummaryData.networthfive)" ng-disabled="true"/></td>
                </tr>


                <tr>
                    <td scope="col">P/E</td>
                    <td><input name="peOne" ng-model="vm.opportunityMaster.financialSummaryData.peOne" ng-value="getFinPbv(vm.opportunityMaster.financialSummaryData.marCapFour, vm.opportunityMaster.financialSummaryData.patOne)" ng-disabled="true"/> </td>
                    <td><input name="peTwo" ng-model="vm.opportunityMaster.financialSummaryData.peTwo" ng-value="getFinPbv(vm.opportunityMaster.financialSummaryData.marCapFour, vm.opportunityMaster.financialSummaryData.patTwo)" ng-disabled="true"/> </td>
                    <td><input name="peThree" ng-model="vm.opportunityMaster.financialSummaryData.peThree" ng-value="getFinPbv(vm.opportunityMaster.financialSummaryData.marCapFour, vm.opportunityMaster.financialSummaryData.patThree)" ng-disabled="true"/></td>
                    <td><input name="peFour" ng-model="vm.opportunityMaster.financialSummaryData.peFour" ng-value="getFinPbv(vm.opportunityMaster.financialSummaryData.marCapFour, vm.opportunityMaster.financialSummaryData.patFour)" ng-disabled="true"/></td>
                    <td><input name="peFive" ng-model="vm.opportunityMaster.financialSummaryData.peFive" ng-value="getFinPbv(vm.opportunityMaster.financialSummaryData.marCapFour, vm.opportunityMaster.financialSummaryData.patFive)" ng-disabled="true"/></td>
                </tr>
                </tbody>
            </table>


        </div>


                <div class="form-group" ng-if="vm.opportunityMaster.masterName.sectorType != 'Finance (including NBFCs)'">

                    <label class="control-label">Summary Data</label>
                    <table id="mytable1" class="table table-bordered">
                        <thead>

                        <tr class="headborder">
                            <th style="width:15%;"></th>
                            <th style="width:15%;">FY16</th>
                            <th style="width:15%;">FY 17</th>
                            <th style="width:15%;">FY 18</th>
                            <th style="width:15%;">FY 19E</th>
                            <th style="width:15%;">FY 20E</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td scope="col">Revenues</td>
                            <td><input name="netIntOne" ng-model="vm.opportunityMaster.nonFinancialSummaryData.revenueOne"  ng-disabled=""/> </td>
                            <td><input name="netIntTwo" ng-model="vm.opportunityMaster.nonFinancialSummaryData.revenueTwo" ng-disabled=""/> </td>
                            <td><input name="netIntThree" ng-model="vm.opportunityMaster.nonFinancialSummaryData.revenueThree" ng-disabled=""/></td>
                            <td><input name="netIntFour" ng-model="vm.opportunityMaster.nonFinancialSummaryData.revenueFour" ng-disabled=""/></td>
                            <td><input name="netIntFive" ng-model="vm.opportunityMaster.nonFinancialSummaryData.revenueFive" ng-disabled=""/></td>
                        </tr>

                        <tr>
                            <td scope="col">Growth(%)</td>
                            <td><input name="nonIntOne" ng-model="vm.opportunityMaster.nonFinancialSummaryData.revGrowthOne"  ng-disabled=""/> </td>
                            <td><input name="nonIntTwo" ng-model="vm.opportunityMaster.nonFinancialSummaryData.revGrowthTwo" ng-value="getNonGrowth(vm.opportunityMaster.nonFinancialSummaryData.revenueOne, vm.opportunityMaster.nonFinancialSummaryData.revenueTwo)" ng-disabled="true"/> </td>
                            <td><input name="nonIntThree" ng-model="vm.opportunityMaster.nonFinancialSummaryData.revGrowthThree" ng-value="getNonGrowth(vm.opportunityMaster.nonFinancialSummaryData.revenueTwo, vm.opportunityMaster.nonFinancialSummaryData.revenueThree)" ng-disabled="true"/></td>
                            <td><input name="nonIntFour" ng-model="vm.opportunityMaster.nonFinancialSummaryData.revGrowthFour" ng-value="getNonGrowth(vm.opportunityMaster.nonFinancialSummaryData.revenueThree, vm.opportunityMaster.nonFinancialSummaryData.revenueFour)" ng-disabled="true"/></td>
                            <td><input name="nonIntFive" ng-model="vm.opportunityMaster.nonFinancialSummaryData.revGrowthFive" ng-value="getNonGrowth(vm.opportunityMaster.nonFinancialSummaryData.revenueFour, vm.opportunityMaster.nonFinancialSummaryData.revenueFive)" ng-disabled="true"/></td>
                        </tr>

                        <tr>
                            <td scope="col">EBITDA</td>
                            <td><input name="totIncOne" ng-model="vm.opportunityMaster.nonFinancialSummaryData.ebitdaOne"  ng-disabled=""/> </td>
                            <td><input name="totIncTwo" ng-model="vm.opportunityMaster.nonFinancialSummaryData.ebitdaTwo" ng-disabled=""/> </td>
                            <td><input name="totIncThree" ng-model="vm.opportunityMaster.nonFinancialSummaryData.ebitdaThree" ng-disabled=""/></td>
                            <td><input name="totIncFour" ng-model="vm.opportunityMaster.nonFinancialSummaryData.ebitdaFour" ng-disabled=""/></td>
                            <td><input name="totIncFive" ng-model="vm.opportunityMaster.nonFinancialSummaryData.ebitdaFive" ng-disabled=""/></td>
                        </tr>

                        <tr>
                            <td scope="col">Margin(%)</td>
                            <td><input name="opExpOne" ng-model="vm.opportunityMaster.nonFinancialSummaryData.marginOne" ng-value="getNonMargin(vm.opportunityMaster.nonFinancialSummaryData.ebitdaOne, vm.opportunityMaster.nonFinancialSummaryData.revenueOne)" ng-disabled="true"/> </td>
                            <td><input name="opExpTwo" ng-model="vm.opportunityMaster.nonFinancialSummaryData.marginTwo"  ng-value="getNonMargin(vm.opportunityMaster.nonFinancialSummaryData.ebitdaTwo, vm.opportunityMaster.nonFinancialSummaryData.revenueTwo)" ng-disabled="true"/> </td>
                            <td><input name="opExpThree" ng-model="vm.opportunityMaster.nonFinancialSummaryData.marginThree" ng-value="getNonMargin(vm.opportunityMaster.nonFinancialSummaryData.ebitdaThree, vm.opportunityMaster.nonFinancialSummaryData.revenueThree)" ng-disabled="true"/></td>
                            <td><input name="opExpFour" ng-model="vm.opportunityMaster.nonFinancialSummaryData.marginFour"  ng-value="getNonMargin(vm.opportunityMaster.nonFinancialSummaryData.ebitdaFour, vm.opportunityMaster.nonFinancialSummaryData.revenueFour)" ng-disabled="true"/></td>
                            <td><input name="opExpFive" ng-model="vm.opportunityMaster.nonFinancialSummaryData.marginFive"  ng-value="getNonMargin(vm.opportunityMaster.nonFinancialSummaryData.ebitdaFive, vm.opportunityMaster.nonFinancialSummaryData.revenueFive)" ng-disabled="true"/></td>
                        </tr>

                        <tr>
                            <td scope="col">Growth(%)</td>
                            <td><input name="opProOne" ng-model="vm.opportunityMaster.nonFinancialSummaryData.ebitdaGrowthOne" ng-disabled="true" /> </td>
                            <td><input name="opProTwo" ng-model="vm.opportunityMaster.nonFinancialSummaryData.ebitdaGrowthTwo" ng-value="getNonGrowth(vm.opportunityMaster.nonFinancialSummaryData.ebitdaOne, vm.opportunityMaster.nonFinancialSummaryData.ebitdaTwo)" ng-disabled="true"/> </td>
                            <td><input name="opProThree" ng-model="vm.opportunityMaster.nonFinancialSummaryData.ebitdaGrowthThree" ng-value="getNonGrowth(vm.opportunityMaster.nonFinancialSummaryData.ebitdaTwo, vm.opportunityMaster.nonFinancialSummaryData.ebitdaThree)" ng-disabled="true"/></td>
                            <td><input name="opProFour" ng-model="vm.opportunityMaster.nonFinancialSummaryData.ebitdaGrowthFour" ng-value="getNonGrowth(vm.opportunityMaster.nonFinancialSummaryData.ebitdaThree, vm.opportunityMaster.nonFinancialSummaryData.ebitdaFour)" ng-disabled="true"/></td>
                            <td><input name="opProFive" ng-model="vm.opportunityMaster.nonFinancialSummaryData.ebitdaGrowthFive" ng-value="getNonGrowth(vm.opportunityMaster.nonFinancialSummaryData.ebitdaFour, vm.opportunityMaster.nonFinancialSummaryData.ebitdaFive)" ng-disabled="true"/></td>
                        </tr>


                        <tr>
                            <td scope="col">PAT</td>
                            <td><input name="provisionsOne" ng-model="vm.opportunityMaster.nonFinancialSummaryData.patOne"  ng-disabled=""/> </td>
                            <td><input name="provisionsTwo" ng-model="vm.opportunityMaster.nonFinancialSummaryData.patTwo" ng-disabled=""/> </td>
                            <td><input name="provisionsThree" ng-model="vm.opportunityMaster.nonFinancialSummaryData.patthree" ng-disabled=""/></td>
                            <td><input name="provisionsFour" ng-model="vm.opportunityMaster.nonFinancialSummaryData.patfour" ng-disabled=""/></td>
                            <td><input name="provisionsFive" ng-model="vm.opportunityMaster.nonFinancialSummaryData.patFive" ng-disabled=""/></td>
                        </tr>

                        <tr>
                            <td scope="col">Growth(%)</td>
                            <td><input name="patOne" ng-model="vm.opportunityMaster.nonFinancialSummaryData.patGrowthOne"  ng-disabled=""/> </td>
                            <td><input name="patTwo" ng-model="vm.opportunityMaster.nonFinancialSummaryData.patGrowthTwo"  ng-value="getNonGrowth(vm.opportunityMaster.nonFinancialSummaryData.patOne, vm.opportunityMaster.nonFinancialSummaryData.patTwo)" ng-disabled="true"/> </td>
                            <td><input name="patThree" ng-model="vm.opportunityMaster.nonFinancialSummaryData.patGrowthThree" ng-value="getNonGrowth(vm.opportunityMaster.nonFinancialSummaryData.patTwo, vm.opportunityMaster.nonFinancialSummaryData.patthree)" ng-disabled="true"/></td>
                            <td><input name="patFour" ng-model="vm.opportunityMaster.nonFinancialSummaryData.patGrowthFour" ng-value="getNonGrowth(vm.opportunityMaster.nonFinancialSummaryData.patthree, vm.opportunityMaster.nonFinancialSummaryData.patfour)" ng-disabled="true"/></td>
                            <td><input name="patFive" ng-model="vm.opportunityMaster.nonFinancialSummaryData.patGrowthFive" ng-value="getNonGrowth(vm.opportunityMaster.nonFinancialSummaryData.patfour, vm.opportunityMaster.nonFinancialSummaryData.patFive)" ng-disabled="true"/></td>
                        </tr>

                        <tr>
                            <td scope="col">Market Cap</td>
                            <td><input name="epsOne" ng-model="vm.opportunityMaster.nonFinancialSummaryData.marketCapOne"  ng-disabled=""/> </td>
                            <td><input name="epsTwo" ng-model="vm.opportunityMaster.nonFinancialSummaryData.marketCapTwo" ng-disabled=""/> </td>
                            <td><input name="epsThree" ng-model="vm.opportunityMaster.nonFinancialSummaryData.marketCapThree" ng-disabled=""/></td>
                            <td><input name="epsFour" ng-model="vm.opportunityMaster.nonFinancialSummaryData.marketCapFour" ng-disabled=""/></td>
                            <td><input name="epsFive" ng-model="vm.opportunityMaster.nonFinancialSummaryData.marketCapFive" ng-disabled=""/></td>
                        </tr>

                        <tr>
                            <td scope="col">P/E</td>
                            <td><input name="marCapOne" ng-model="vm.opportunityMaster.nonFinancialSummaryData.peOne" ng-value="getNonPe(vm.opportunityMaster.nonFinancialSummaryData.marketCapThree, vm.opportunityMaster.nonFinancialSummaryData.patOne)" ng-disabled="true"/> </td>
                            <td><input name="marCapTwo" ng-model="vm.opportunityMaster.nonFinancialSummaryData.peTwo"  ng-value="getNonPe(vm.opportunityMaster.nonFinancialSummaryData.marketCapThree, vm.opportunityMaster.nonFinancialSummaryData.patTwo)" ng-disabled="true"/> </td>
                            <td><input name="marCapThree" ng-model="vm.opportunityMaster.nonFinancialSummaryData.pethree" ng-value="getNonPe(vm.opportunityMaster.nonFinancialSummaryData.marketCapThree, vm.opportunityMaster.nonFinancialSummaryData.patthree)" ng-disabled="true"/></td>
                            <td><input name="marCapFour" ng-model="vm.opportunityMaster.nonFinancialSummaryData.peFour" ng-value="getNonPe(vm.opportunityMaster.nonFinancialSummaryData.marketCapThree, vm.opportunityMaster.nonFinancialSummaryData.patfour)" ng-disabled="true"/></td>
                            <td><input name="marCapFive" ng-model="vm.opportunityMaster.nonFinancialSummaryData.peFive" ng-value="getNonPe(vm.opportunityMaster.nonFinancialSummaryData.marketCapThree, vm.opportunityMaster.nonFinancialSummaryData.patFive)" ng-disabled="true"/></td>
                        </tr>

                        <tr>
                            <td scope="col">Networth</td>
                            <td><input name="aumOne" ng-model="vm.opportunityMaster.nonFinancialSummaryData.networthOne"  ng-disabled=""/> </td>
                            <td><input name="aumTwo" ng-model="vm.opportunityMaster.nonFinancialSummaryData.networthTwo" ng-disabled=""/> </td>
                            <td><input name="aumThree" ng-model="vm.opportunityMaster.nonFinancialSummaryData.networthThree" ng-disabled=""/></td>
                            <td><input name="aumFour" ng-model="vm.opportunityMaster.nonFinancialSummaryData.networthFour" ng-disabled=""/></td>
                            <td><input name="aumFive" ng-model="vm.opportunityMaster.nonFinancialSummaryData.networthFive" ng-disabled=""/></td>
                        </tr>

                        <tr>
                            <td scope="col">P/B</td>
                            <td><input name="networthOne" ng-model="vm.opportunityMaster.nonFinancialSummaryData.pbOne" ng-value="getNonPe(vm.opportunityMaster.nonFinancialSummaryData.marketCapThree, vm.opportunityMaster.nonFinancialSummaryData.networthOne)" ng-disabled="true"/> </td>
                            <td><input name="networthTwo" ng-model="vm.opportunityMaster.nonFinancialSummaryData.pbTwo" ng-value="getNonPe(vm.opportunityMaster.nonFinancialSummaryData.marketCapThree, vm.opportunityMaster.nonFinancialSummaryData.networthTwo)" ng-disabled="true" /> </td>
                            <td><input name="networthThree" ng-model="vm.opportunityMaster.nonFinancialSummaryData.pbThree" ng-value="getNonPe(vm.opportunityMaster.nonFinancialSummaryData.marketCapThree, vm.opportunityMaster.nonFinancialSummaryData.networthThree)" ng-disabled="true" /></td>
                            <td><input name="networthFour" ng-model="vm.opportunityMaster.nonFinancialSummaryData.pbFour" ng-value="getNonPe(vm.opportunityMaster.nonFinancialSummaryData.marketCapThree, vm.opportunityMaster.nonFinancialSummaryData.networthFour)" ng-disabled="true" /></td>
                            <td><input name="networthfive" ng-model="vm.opportunityMaster.nonFinancialSummaryData.pbFive" ng-value="getNonPe(vm.opportunityMaster.nonFinancialSummaryData.marketCapThree, vm.opportunityMaster.nonFinancialSummaryData.networthFive)" ng-disabled="true" /></td>
                        </tr>

                        <tr>
                            <td scope="col">ROE(%)</td>
                            <td><input name="roeOne" ng-model="vm.opportunityMaster.nonFinancialSummaryData.roeOne" ng-value="getNonRoe(vm.opportunityMaster.nonFinancialSummaryData.patOne,0, vm.opportunityMaster.nonFinancialSummaryData.networthOne)" ng-disabled="true"/> </td>
                            <td><input name="roeTwo" ng-model="vm.opportunityMaster.nonFinancialSummaryData.roeTwo" ng-value="getNonRoe(vm.opportunityMaster.nonFinancialSummaryData.patTwo,vm.opportunityMaster.nonFinancialSummaryData.networthOne, vm.opportunityMaster.nonFinancialSummaryData.networthTwo)" ng-disabled="true"/> </td>
                            <td><input name="roeThree" ng-model="vm.opportunityMaster.nonFinancialSummaryData.roeThree" ng-value="getNonRoe(vm.opportunityMaster.nonFinancialSummaryData.patthree,vm.opportunityMaster.nonFinancialSummaryData.networthTwo, vm.opportunityMaster.nonFinancialSummaryData.networthThree)" ng-disabled="true"/></td>
                            <td><input name="roeFour" ng-model="vm.opportunityMaster.nonFinancialSummaryData.roeFour" ng-value="getNonRoe(vm.opportunityMaster.nonFinancialSummaryData.patfour,vm.opportunityMaster.nonFinancialSummaryData.networthThree, vm.opportunityMaster.nonFinancialSummaryData.networthFour)" ng-disabled="true"/></td>
                            <td><input name="roeFive" ng-model="vm.opportunityMaster.nonFinancialSummaryData.roefive" ng-value="getNonRoe(vm.opportunityMaster.nonFinancialSummaryData.patFive,vm.opportunityMaster.nonFinancialSummaryData.networthFour, vm.opportunityMaster.nonFinancialSummaryData.networthFive)" ng-disabled="true"/></td>
                        </tr>

                        <tr>
                            <td scope="col">Total Debt</td>
                            <td><input name="pbvOne" ng-model="vm.opportunityMaster.nonFinancialSummaryData.totDebOne"  ng-disabled=""/> </td>
                            <td><input name="pbvTwo" ng-model="vm.opportunityMaster.nonFinancialSummaryData.totDebTwo" ng-disabled=""/> </td>
                            <td><input name="pbvThree" ng-model="vm.opportunityMaster.nonFinancialSummaryData.totDebThree" ng-disabled=""/></td>
                            <td><input name="pbvFour" ng-model="vm.opportunityMaster.nonFinancialSummaryData.totDebFour" ng-disabled=""/></td>
                            <td><input name="pbvFive" ng-model="vm.opportunityMaster.nonFinancialSummaryData.totDebFive" ng-disabled=""/></td>
                        </tr>


                        <tr>
                            <td scope="col">D/E</td>
                            <td><input name="peOne" ng-model="vm.opportunityMaster.nonFinancialSummaryData.deOne" ng-value="getNonPe(vm.opportunityMaster.nonFinancialSummaryData.totDebOne, vm.opportunityMaster.nonFinancialSummaryData.networthOne)" ng-disabled="true"/> </td>
                            <td><input name="peTwo" ng-model="vm.opportunityMaster.nonFinancialSummaryData.deTwo" ng-value="getNonPe(vm.opportunityMaster.nonFinancialSummaryData.totDebTwo, vm.opportunityMaster.nonFinancialSummaryData.networthTwo)" ng-disabled="true"/> </td>
                            <td><input name="peThree" ng-model="vm.opportunityMaster.nonFinancialSummaryData.deThree" ng-value="getNonPe(vm.opportunityMaster.nonFinancialSummaryData.totDebThree, vm.opportunityMaster.nonFinancialSummaryData.networthThree)" ng-disabled="true"/></td>
                            <td><input name="peFour" ng-model="vm.opportunityMaster.nonFinancialSummaryData.deFour" ng-value="getNonPe(vm.opportunityMaster.nonFinancialSummaryData.totDebFour, vm.opportunityMaster.nonFinancialSummaryData.networthFour)" ng-disabled="true"/></td>
                            <td><input name="peFive" ng-model="vm.opportunityMaster.nonFinancialSummaryData.deFive" ng-value="getNonPe(vm.opportunityMaster.nonFinancialSummaryData.totDebFive, vm.opportunityMaster.nonFinancialSummaryData.networthFive)" ng-disabled="true"/></td>
                        </tr>
                        </tbody>
                    </table>


                </div>


</div>


        <!--    </table>-->







    <!--    <div class="form-group">
            <label class="control-label" for="field_oppcontact">Contact Details</label>
            <input type="text"  placeholder="Name" name="oppDescription" id="field_oppcontact"
                   ng-model="vm.opportunityMaster.oppDescription"
                   required max="250"/>
        </div>-->
     <!--    <div class="form-group">
            <label for="file_upload">File Upload</label>
            <input type="file" ngf-select="vm.selectFile($file)" name="file" id="file_upload" ngf-pattern=".doc,.docx" accept=".doc,.docx" required="">
        </div> -->
        <!-- <div ckeditor="options" ng-model="vm.opportunityMaster.htmlContent" ng-if="vm.opportunityMaster.htmlContent" ready="onReady()" ng-change="changeEditor()" readonly="vm.readOnly"></div> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
