<div  class="container-fluid">
    <div class="well">

    <jhi-alert></jhi-alert>
    <div>
        <div class="row">

            <div class="col-md-2"><h4>Opportunity</h4></div>
            <div class="col-md-2 pull-right">
                <button class="btn btn-primary" ui-sref="opportunity-master.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create New Opportunity
                    </span>
                </button>
            </div>

             <div class="col-md-4 col-md-offset-2"><input class="form-control ng-pristine ng-valid" ng-model="searchKeyword" type="text" placeholder="Search"> </div>


        </div>
    </div>

    <!--<div class="row">
        <div class="col-md-2"><h4>Users</h4></div>

        <div class="col-md-2 pull-right">
            <button class="btn btn-primary" ui-sref="user-management.new">
                <span class="glyphicon glyphicon-flash"></span> <span>Create a new User</span>
            </button>

        </div>
    </div>-->




    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                 <!--    <th jh-sort-by="oppCode"><span>Opp Code</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                 <th jh-sort-by="masterName.id"><span>Opportunity Name</span> <span class="glyphicon glyphicon-sort"></span></th>

                  	<th jh-sort-by="masterName.oppName"><span>Sector</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="oppDescription"><span>Opportunity Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="selectedStrategyMaster.strategyName"><span>Strategy</span> <span class="glyphicon glyphicon-sort"></span></th>
                  <th jh-sort-by="createdBy"><span>Created By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="opportunityMaster in vm.opportunityMasters | filter: searchKeyword">

                    <td><a ui-sref="opportunity-master-detail({id:opportunityMaster.id})">{{opportunityMaster.masterName.oppName}}
                    </a></td>
                     <td> {{opportunityMaster.masterName.sectorType}}</td>
                    <td><a ui-sref="opportunity-master-detail({id:opportunityMaster.id})">{{opportunityMaster.oppDescription}}</a></td>
                    <td>
                      <div ng-repeat="selectedStrategyMaster in opportunityMaster.selectedStrategyMaster">{{selectedStrategyMaster.strategyName}}</div>
                    </td>
                     <td>{{opportunityMaster.createdBy |capitalize}}
                    </td>

                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="opportunity-master-detail({id:opportunityMaster.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="opportunity-master.edit({id:opportunityMaster.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>

                      <!--       <button type="submit"
                                    ui-sref="opportunity-master.delete({id:opportunityMaster.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>-->

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
