
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="btn btn-default pull-right"
                ng-click="vm.clear()">Go Back</button>
        <h4 class="modal-title" id="myOpportunityMasterLabel">Create Opportunity</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.opportunityMaster.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.opportunityMaster.id" readonly />
        </div>

         <div class="form-group">
           <label for="field_opportunityMasterName">Opportuntiy Name</label>
            <select class="form-control" name="masterName" id="field_opportunityMasterName" ng-model="vm.opportunityMaster.masterName" ng-options="opportunityName as opportunityName.oppName for opportunityName in vm.opportunityNames track by opportunityName.id">
                <option value="">Select Name</option>
            </select>

        </div>
        <div class="form-group">
            <label class="control-label" for="field_sectorType">Sector</label>
            <input type="text" id="field_sectorType"class="form-control" placeholder="Sector"
                    ng-model="vm.opportunityMaster.masterName.sectorType"
                  />
        <div ng-show="editForm.oppName.$invalid">
                <p class="help-block"
                    ng-show="editForm.oppName.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.oppName.$error.max">
                    This field cannot be more than 50.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_oppDescription">Opportunity Description</label>
            <input type="text" class="form-control" placeholder="Description" name="oppDescription" id="field_oppDescription"
                    ng-model="vm.opportunityMaster.oppDescription"
                    required max="250"/>
            <div ng-show="editForm.oppDescription.$invalid">
                <p class="help-block"
                    ng-show="editForm.oppDescription.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.oppDescription.$error.max">
                    This field cannot be more than 250.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_opportunityMaster">Strategy</label>
             <select class="form-control" id="field_opportunityMaster" multiple name="selectedStrategyMaster" ng-value="selectedStrategyMaster" ng-model="vm.opportunityMaster.selectedStrategyMaster"
                    ng-options="strategyMaster as strategyMaster.strategyName for strategyMaster in vm.strategymasters track by strategyMaster.id">


            </select>

            <!--  <select class="form-control" id="field_opportunityMaster" multiple name="selectedStrategyMaster" ng-model="vm.opportunityMaster.strategyMapping"
                    ng-options="selectedStrategyMaster as strategyMaster.strategyName for strategyMaster in vm.strategymasters track by strategyMaster.id">
            </select> -->
           <!--  <select class="form-control" id="field_opportunityMaster" multiple name="selectedStrategyMaster" ng-init="getStrategyMaster(2)" ng-model="vm.opportunityMaster.strategyMapping">
            <option ng-repeat="strategy in vm.strategymasters" ng-value="strategy.id">{{strategy.strategyName}}</option>
            </select> -->


        </div>


        <div class="form-group row">
            <div class="col-xs-4">
                <label for="field_oppcontactName">Company Contact Details</label></br>
                <label for="field_oppcontactName">Name</label>
                <input class="form-control" name="field_oppcontactName" id="field_oppcontactName" type="text" placeholder="Name" ng-model="vm.opportunityMaster.opportunityMasterContact.name">
            </div>

            <div class="col-xs-4">
                <label for="field_oppcontactName"></label></br>
                <label for="field_oppcontactName">Designation</label>
                <input class="form-control" name="field_oppcontactDes" id="field_oppcontactDes" type="text" placeholder="Designation" ng-model="vm.opportunityMaster.opportunityMasterContact.designation">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-4">
                <label for="field_oppcontactEmail">Email</label>
                <input class="form-control" name="field_oppcontactEmail" id="field_oppcontactEmail" type="text" placeholder="Email" ng-model="vm.opportunityMaster.opportunityMasterContact.email">
            </div>

            <div class="col-xs-4">
                <label for="field_oppcontactNo">Contact Number</label>
                <input class="form-control" name="field_oppcontactNo" id="field_oppcontactNo" type="text" placeholder="Contact Number" ng-model="vm.opportunityMaster.opportunityMasterContact.contactnum">
            </div>
        </div>


        <div  class="form-group">

            <label class="control-label">Summary Data</label>
            <table id="mytable" class="table table-bordered">

                <tr>



                </tr>
                <tbody>
                <tr>
                    <td style="width:5%;">Weight</td>
                    <td><input name="weight" ng-model="vm.opportunityMaster.opportunitySummaryData.bWeight"  ng-disabled=""/> </td>
                </tr>
                <tr>
                    <td style="width:10%;">CMP</td>
                    <td><input name="cmp" ng-model="vm.opportunityMaster.opportunitySummaryData.cmp" ng-disabled=""/> </td>
                </tr>
                <tr>
                    <td style="width:15%;">M Cap</td>
                    <td><input name="marketCap" ng-model="vm.opportunityMaster.opportunitySummaryData.marketCap" ng-disabled=""/></td>
                </tr>

                <tr class="headborder">
                    <th scope="col" colspan="3">PAT</th>
                </tr>

                <tr>
                    <td style="width:10%;">FY 2017</td>
                    <td><input name="patSecondYear" ng-model="vm.opportunityMaster.opportunitySummaryData.patSecondYear" ng-disabled=""/></td>
                </tr>
                <tr>
                    <td style="width:10%;">FY 2018</td>
                    <td><input name="patThirdYear" ng-model="vm.opportunityMaster.opportunitySummaryData.patThirdYear" ng-disabled=""/></td>
                </tr>
                <tr>
                    <td style="width:15%;">FY 2019</td>
                    <td><input name="patFourthYear" ng-model="vm.opportunityMaster.opportunitySummaryData.patFourthYear" ng-disabled=""/></td>
                </tr>

                <tr class="headborder">
                    <th scope="col" colspan="3">P/E</th>
                </tr>

                <tr>
                    <td style="width:15%;">FY 2017</td>
                    <td><input name="peSecondYear" ng-model="vm.opportunityMaster.opportunitySummaryData.peSecondYear" ng-disabled=""/></td>
                </tr>
                <tr>
                    <td style="width:15%;">FY 2018</td>
                    <td><input name="peThirdYear" ng-model="vm.opportunityMaster.opportunitySummaryData.peThirdYear" ng-disabled=""/></td>
                </tr>
                <tr>
                    <td style="width:15%;">FY 2019</td>
                    <td><input name="peFourthYear" ng-model="vm.opportunityMaster.opportunitySummaryData.peFourthYear" ng-disabled=""/></td>
                </tr>

                <tr class="headborder">
                    <th scope="col" colspan="3">RoE</th>
                </tr>

                <tr>
                    <td style="width:15%;">FY 2018</td>
                    <td><input name="roeThirdYear" ng-model="vm.opportunityMaster.opportunitySummaryData.roeThirdYear" ng-disabled=""/></td>
                </tr>
                <tr>
                    <td style="width:15%;">FY 2019</td>
                    <td><input name="roeFourthYear" ng-model="vm.opportunityMaster.opportunitySummaryData.roeFourthYear" ng-disabled=""/></td>
                </tr>

                <tr class="headborder">
                    <th scope="col" colspan="3">D/E</th>
                </tr>

                <tr>
                    <td style="width:15%;">FY 18</td>
                    <td><input name="deThirdColour" ng-model="vm.opportunityMaster.opportunitySummaryData.deThirdColour" ng-disabled=""/></td>
                </tr>

                <tr class="headborder">
                    <th scope="col" colspan="2">PAT Growth</th>
                </tr>

                <tr>
                    <td style="width:15%;">FY 2018</td>
                    <td><input name="patGrowthThird" ng-model="vm.opportunityMaster.opportunitySummaryData.patGrowthThird" ng-disabled=""/></td>
                </tr>
                <tr>
                    <td style="width:15%;">FY 2019</td>
                    <td><input name="patGrowthFourth" ng-model="vm.opportunityMaster.opportunitySummaryData.patGrowthFourth" ng-disabled=""/></td>
                </tr>


                <tr class="headborder">
                    <th scope="col" colspan="2">Portfolio P/E</th>
                </tr>

                <tr>
                    <td style="width:15%;">FY 2017</td>
                    <td><input name="portPeSecond" ng-model="vm.opportunityMaster.opportunitySummaryData.portPeSecond" ng-disabled=""/></td>
                </tr>
                <tr>
                    <td style="width:15%;">FY 2018</td>
                    <td><input name="portPeThird" ng-model="vm.opportunityMaster.opportunitySummaryData.portPeThird" ng-disabled=""/></td>
                </tr>

                <tr class="headborder">
                    <th scope="col" colspan="2">Earnings Gr</th>
                </tr>


                <tr>
                    <td style="width:15%;">FY 2018</td>
                    <td><input name="earningsThird" ng-model="vm.opportunityMaster.opportunitySummaryData.earningsThird" ng-disabled=""/></td>
                </tr>
                <tr>
                    <td style="width:15%;">FY 2019</td>
                    <td><input name="earningsFourth" ng-model="vm.opportunityMaster.opportunitySummaryData.earningsFourth" ng-disabled=""/></td>
                </tr>
                <tr>
                    <td style="width:15%;">Wt. Avg Mcap</td>
                    <td><input name="wtAvgCap" ng-model="vm.opportunityMaster.opportunitySummaryData.wtAvgCap" ng-disabled=""/></td>
                </tr>
                <tr>
                    <td style="width:15%;">RoE</td>
                    <td><input name="roe" ng-model="vm.opportunityMaster.opportunitySummaryData.roe" ng-disabled=""/></td>
                </tr>

                <tr class="headborder">
                    <th scope="col" colspan="2">PEG - FY 18</th>
                </tr>


                <tr>
                    <td style="width:15%;">O / J</td>
                    <td><input name="pegOj" ng-model="vm.opportunityMaster.opportunitySummaryData.pegOj" ng-disabled=""/></td>
                </tr>
                <tr>
                    <th style="width:15%;">PEG</th>
                    <td><input name="pegYearPeg" ng-model="vm.opportunityMaster.opportunitySummaryData.pegYearPeg" ng-disabled=""/></td>
                </tr>

                </tbody>
            </table>


        </div>




    <!--    <div class="form-group">
            <label class="control-label" for="field_oppcontact">Contact Details</label>
            <input type="text"  placeholder="Name" name="oppDescription" id="field_oppcontact"
                   ng-model="vm.opportunityMaster.oppDescription"
                   required max="250"/>
        </div>-->
     <!--    <div class="form-group">
            <label for="file_upload">File Upload</label>
            <input type="file" ngf-select="vm.selectFile($file)" name="file" id="file_upload" ngf-pattern=".doc,.docx" accept=".doc,.docx" required="">
        </div> -->
        <!-- <div ckeditor="options" ng-model="vm.opportunityMaster.htmlContent" ng-if="vm.opportunityMaster.htmlContent" ready="onReady()" ng-change="changeEditor()" readonly="vm.readOnly"></div> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
