<!-- <form name="editForm" role="form" novalidate ng-submit="vm.saveWithUpload()" show-validation> -->
<html>
<head>
<style>
.actionBox {
	border-top: 1px dotted #bbb;
	padding: 10px;
}

.sub-text {
	color: #aaa;
	font-family: verdana;
	font-size: 11px;
}

.commentText p {
	margin: 0;
}

.capitalize {
	text-transform: capitalize;
}
div.scrollmenu {

    overflow: auto;
    white-space: nowrap;
}
</style>
</head>
</html>
<div>
	<!--   <h2><span>Opportunity Master</span> {{vm.opportunityMaster.id}}</h2> -->
	<h2>{{vm.opportunityMaster.masterName.oppName}}</h2> <div class="text-danger text-right ng-binding text-bold">{{vm.opportunityMaster.oppStatus}}</div>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="dl-horizontal jh-entity-details">
		<dt>
			<span>Sector</span>
		</dt>
		<dd>
			<span>{{vm.opportunityMaster.masterName.sectorType}}</span>
		</dd>
		<dt>
			<span>Description</span>
		</dt>
		<dd>
			<span>{{vm.opportunityMaster.oppDescription}}</span>
		</dd>
		<dt>
			<span>Strategy</span>
		</dt>
		<dd>
			<div
				ng-repeat="strategyMapping in vm.opportunityMaster.strategyMapping">
				{{strategyMapping.strategyMaster.strategyName}}</div>

		</dd>
		<dt>
			<span>Contact Details</span>
		</dt>
		<dd>
			<span>
				{{vm.opportunityMaster.opportunityMasterContact.name}}</br>
				{{vm.opportunityMaster.opportunityMasterContact.designation}}</br>
				{{vm.opportunityMaster.opportunityMasterContact.email}}</br>
				{{vm.opportunityMaster.opportunityMasterContact.contactnum}}</span>

		</dd>

		<!--   <dt ng-show="vm.opportunityMaster.htmlContent"><span>Document</span></dt>
        <dd ng-show="vm.opportunityMaster.htmlContent">
            <iframe src='https://docs.google.com/gview?url=http://ieee802.org/secmail/docIZSEwEqHFr.doc&embedded=true' width='100%' height='400' frameborder='0'></iframe>
            <div ckeditor="options" ng-model="vm.opportunityMaster.htmlContent" ready="onReady()" ng-change="changeCKeditor()" readonly=""></div>
        </dd>
         -->
		<!--   <dt ng-show="vm.fileDocSave"><span>Create Document</span></dt>
        <dd ng-show="vm.fileDocSave">
            <iframe src='https://docs.google.com/gview?url=http://ieee802.org/secmail/docIZSEwEqHFr.doc&embedded=true' width='100%' height='400' frameborder='0'></iframe>
            <div ckeditor="options" ng-model="vm.fileDocSave" ready="onReady()" ng-change="changeCKeditor()" readonly=""></div>
        </dd>  -->
		<!--  <dt><span>File Upload</span> -->
		<!--   <dd>
        <div class="form-group">
            <input type="file" ngf-select="vm.selectFile($file)" name="file" id="file_upload" ngf-pattern=".doc,.docx" accept=".doc,.docx" required="">
            <br/><button type="button" class="btn btn-default" ng-click="vm.upload()">Upload</button>
        </div>
        </dd> -->
		<!--   <dt><span>Comments</span></dt>
        <dd>
         <div class="actionBox" ng-repeat="fileUploadComments in vm.opportunityMaster.fileUploadCommentList track by fileUploadComments.id">
 			<div>
 			<div class="capitalize"><b>{{fileUploadComments.createdBy}} </b></div>
 			 <div>{{fileUploadComments.fileComments}}</div>
			<div class="date sub-text"> on {{fileUploadComments.createdDate  | date :"MMM d, y h:mm:ss a"}}</div></div>

         </div>
            <textarea ng-model="vm.fileComments" name="comments" id="field_comments" rows="4" cols="120"></textarea>
            <br><button class="btn btn-default" ng-click="vm.saveComment()" ng-disabled=""vm.isSaving>Submit Comment</button>
        </dd>      -->

	<!--	<dt ng-show="vm.opportunityMaster.fileUploads">
			<span>File Created</span>
		</dt>
		<dd ng-show="vm.opportunityMaster.fileUploads" style="height:60px;overflow:scroll;overflow-x:hidden;overflow-y:scroll;">
			&lt;!&ndash;  <iframe src='https://docs.google.com/gview?url=http://ieee802.org/secmail/docIZSEwEqHFr.doc&embedded=true' width='100%' height='400' frameborder='0'></iframe> &ndash;&gt;
			<div ng-repeat="fileUploads in vm.opportunityMaster.fileUploads">
				<a ng-click="vm.loadFileContent(fileUploads.id)">{{fileUploads.fileName}}</a>
				<b> - {{fileUploads.createdBy | capitalize}}</b> <span class="date sub-text">
					on {{fileUploads.createdDate | date :"MMM d, y h:mm:ss a"}}</span>
			</div>

		</dd>-->



            <div class="row" ng-show="vm.opportunityMaster.fileUploads">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                          Presentation
                        </div>
                        <div style="height:120px;overflow:scroll;overflow-x:hidden;overflow-y:scroll;">
                        <div class="panel-body" ng-repeat="fileUploads in vm.opportunityMaster.fileUploads | filter: {filetype: 'Presentation'}">
                            <a ng-click="vm.loadFileContent(fileUploads.id)">{{fileUploads.fileName}}</a>
                            <b> - {{fileUploads.createdBy | capitalize}}</b> <span class="date sub-text">
				   	          on {{fileUploads.createdDate | date :"MMM d, y h:mm:ss a"}}</span>
                        </div></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Excel Module
                        </div>
                        <div style="height:120px;overflow:scroll;overflow-x:hidden;overflow-y:scroll;">
                        <div class="panel-body"   ng-repeat="fileUploads in vm.opportunityMaster.fileUploads | filter: {filetype: 'Excel module'}">
                            <a ng-click="vm.loadFileContent(fileUploads)">{{fileUploads.fileName}}</a>
                            <b> - {{fileUploads.createdBy | capitalize}}</b> <span class="date sub-text">
				   	          on {{fileUploads.createdDate | date :"MMM d, y h:mm:ss a"}}</span>
                        </div>
                    </div></div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Quarterly Updates
                        </div>
                        <div style="height:120px;overflow:scroll;overflow-x:hidden;overflow-y:scroll;">
                        <div class="panel-body" ng-repeat="fileUploads in vm.opportunityMaster.fileUploads | filter: {filetype: 'Quarterly updates'}">
                            <a ng-click="vm.loadFileContent(fileUploads.id)">{{fileUploads.fileName}}</a>
                            <b> - {{fileUploads.createdBy | capitalize}}</b> <span class="date sub-text">
				   	          on {{fileUploads.createdDate | date :"MMM d, y h:mm:ss a"}}</span>
                        </div></div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Miscellaneous
                        </div>
                        <div style="height:120px;overflow:scroll;overflow-x:hidden;overflow-y:scroll;">
                        <div class="panel-body" ng-repeat="fileUploads in vm.opportunityMaster.fileUploads | filter: {filetype: 'Miscellaneous'}">
                            <a ng-click="vm.loadFileContent(fileUploads.id)">{{fileUploads.fileName}}</a>
                            <b> - {{fileUploads.createdBy | capitalize}}</b> <span class="date sub-text">
				   	          on {{fileUploads.createdDate | date :"MMM d, y h:mm:ss a"}}</span>
                        </div></div>
                    </div>
                </div>
            </div>







        <dt ng-show="vm.htmlContent">
			<span>Document</span>
		</dt>
		<dd ng-show="vm.htmlContent">
			<div ckeditor="options" ng-model="vm.htmlContent" ready="onReady()"
				ng-change="changeCKeditor()" readonly=true></div>
		</dd>

		<dt ng-show="myvar">
			<span>Document</span>

		</dt>
		<dd ng-show="myvar">
			<!--<iframe src='https://docs.google.com/gview?url=http://ieee802.org/secmail/docIZSEwEqHFr.doc&embedded=true' width='100%' height='400' frameborder='0'></iframe>-->
			<div ckeditor="options" ng-model="vm.newdoc" ready="onReady()"
				ng-change="changeCKeditor()" readonly=""></div>
		</dd>
		<dt ng-show="myvar">
			<span>Description</span>
		</dt>
		<dd ng-show="myvar">
			<input type="text" class="col-sm-8" id="id" name="id"
				ng-model="vm.fileName" />
		</dd>
		<dt>
			<button type="button" class="btn btn-primary"
				ng-click="showdocument(); vm.htmlContent = null;" ng-show="!myvar" has-authority="ROLE_RA">
				<span class="hidden-sm-down">CreateDocument</span>
			</button>

			<button type="button" class="btn btn-primary"
				ng-click="vm.createFile()" ng-show="myvar">Save</button>
			<button type="button" class="btn btn-primary"
				ng-click="myvar = !myvar" ng-show="myvar">
				<span class="hidden-sm-down">Cancel</span>
			</button>
		</dt>
		<dd><button class="btn btn-success" ng-click="open('Approve')"
				ng-disabled="" has-authority="ROLE_CIO" vm.isSaving>Approve</button>
			<button class="btn btn-warning" ng-click="vm.approveFile('Change Request')"
				ng-disabled="" has-authority="ROLE_CIO" vm.isSaving>Change Request</button>
			<button class="btn btn-danger"  ng-click="vm.approveFile('Wait Listed')"
				ng-disabled="" has-authority="ROLE_CIO" vm.isSaving>Wait Listed</button></dd></dd>

        <dt has-authority="ROLE_RA">
            <span>Select File Format</span>
        </dt>


        <dd has-authority="ROLE_RA">
            <select ng-model="selitem" ng-change="getselectval()">
                <option ng-repeat="x in fileformat">{{x}}</option>
            </select>
        </dd>

        <dt has-authority="ROLE_RA">
            <span>Description</span>
        </dt>
        <dd has-authority="ROLE_RA">
            <input type="text" class="col-sm-6" id="fileid" name="fileid"
                   ng-model="vm.uploadfileName" />
        </dd>

		<dt has-authority="ROLE_RA">
			<span>Upload</span>
		</dt>
		<dd has-authority="ROLE_RA">
			<div class="form-group">
				<input type="file" ngf-select="vm.selectFile($file)" name="file"
					id="file_upload" ngf-pattern=".xls,.xlsx,.png,.jpg,.jpeg,.gif,.pptx" accept=".xls,.xlsx,.png,.jpg,.jpeg,.gif,.pptx"
					required=""> <br />
				<button type="button" class="btn btn-default" ng-click="vm.upload()">Upload</button>
			</div>
		</dd>


		<dt>
			<span>Comments</span>
		</dt>
		<dd>

			<div class="actionBox"
				ng-repeat="fileUploadComments in vm.opportunityMaster.fileUploadCommentList">
				<div>
					<div class="capitalize">
						<b>{{fileUploadComments.createdBy}} </b>
					</div>
					<div>{{fileUploadComments.opportunityComments}}</div>
					<div class="date sub-text">on
						{{fileUploadComments.createdDate | date :"MMM d, y h:mm:ss a"}}</div>
				</div>

			</div>
			<textarea ng-model="vm.fileComments" name="comments"
				id="field_comments" rows="4" cols="120"></textarea>
			<br>
			<button class="btn btn-primary" ng-click="vm.saveComment()"
				ng-disabled="" vm.isSaving>Submit Comment</button>
		</dd>

        <dt>
            <span>Summary Data</span>
            <button class="btn btn-primary"  ng-click="ok()">Edit</button>
        </dt>
        <dd>
        <!--    <form id="empform" ng-submit="submitEmployee()">
            <div class="scrollmenu">
            <table id="mytable" class="table table-bordered">
                <thead>
                <tr class="headborder">

                    <th scope="col" colspan="3"></th>


                    <th scope="col" colspan="2">RoE</th>
                    <th scope="col">D/E</th>


                    <th scope="col" colspan="2">Earnings Gr</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col" colspan="2">PEG - FY 18</th>
                </tr>
                <tr>
                <th style="width:5%;">Weight</th>
                <th style="width:10%;">CMP</th>
                <th style="width:15%;">M Cap</th>
                <th style="width:10%;">FY 2017</th>
                <th style="width:10%;">FY 2018</th>
                <th style="width:15%;">FY 2019</th>
                <th style="width:15%;">FY 2017</th>
                <th style="width:15%;">FY 2018</th>
                <th style="width:15%;">FY 2019</th>
                <th style="width:15%;">FY 2018</th>
                <th style="width:15%;">FY 2019</th>
                <th style="width:15%;">FY 18</th>
                <th style="width:15%;">FY 2018</th>
                <th style="width:15%;">FY 2019</th>
                <th style="width:15%;">FY 2017</th>
                <th style="width:15%;">FY 2018</th>
                <th style="width:15%;">FY 2018</th>
                <th style="width:15%;">FY 2019</th>
                <th style="width:15%;">Wt. Avg Mcap</th>
                <th style="width:15%;">RoE</th>
                <th style="width:15%;">O / J</th>
                <th style="width:15%;">PEG</th>
                <th style="width:25%;">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    &lt;!&ndash;<td>{{$index+1}}</td>&ndash;&gt;
                    <td><input name="val1" ng-model="val1"  ng-disabled=""/> </td>
                    <td><input name="val1" ng-model="val2"  ng-disabled=""/> </td>
                    <td><input name="val2" ng-model="val3" ng-disabled="" /> </td>
                    <td><input name="val3" ng-model="val4" ng-disabled=""/></td>
                    <td><input name="val4" ng-model="val5" ng-disabled=""/></td>
                    <td><input name="val5" ng-model="val6" ng-disabled=""/></td>
                    <td><input name="val6" ng-model="val7" ng-disabled=""/></td>
                    <td><input name="val6" ng-model="val8" ng-disabled=""/></td>
                    <td><input name="val6" ng-model="val9" ng-disabled=""/></td>
                    <td><input name="val6" ng-model="val10" ng-disabled=""/></td>
                    <td><input name="val6" ng-model="val11" ng-disabled=""/></td>
                    <td><input name="val6" ng-model="val12" ng-disabled=""/></td>
                    <td><input name="val6" ng-model="val13" ng-disabled=""/></td>
                    <td><input name="val6" ng-model="val14" ng-disabled=""/></td>
                    <td><input name="val6" ng-model="val15" ng-disabled=""/></td>
                    <td><input name="val6" ng-model="val16" ng-disabled=""/></td>
                    <td><input name="val6" ng-model="val17" ng-disabled=""/></td>
                    <td><input name="val6" ng-model="val18" ng-disabled=""/></td>
                    <td><input name="val6" ng-model="val19" ng-disabled=""/></td>
                    <td><input name="val6" ng-model="val20" ng-disabled=""/></td>
                    <td><input name="val6" ng-model="val21" ng-disabled=""/></td>
                    <td><input name="val6" ng-model="val22" ng-disabled=""/></td>
                    <td >
                        <div class="buttons">
                            <button class="btn btn-primary" ng-click="editEmployee($index)">Edit</button>
                            <button class="btn btn-danger" ng-click="deleteEmployee($index)">Delete</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
                <br>
           &lt;!&ndash; <input type="submit" class="btn btn-primary" value="Submit" ng-click="submitTable(table)" />&ndash;&gt;
                <button  class="btn btn-primary" ng-click="submitTable(table)">Submit</button>
            </form>-->


            <table id="mytable" class="table table-bordered">

                <tr>



                </tr>
                <tbody>
                <tr>
                    <td style="width:5%;">Weight</td>

                    <td><input name="weight" ng-model="vm.opportunityMaster.opportunitySummaryData.bWeight" ng-disabled="isDisabled"/> </td>
                </tr>
                <tr>
                    <td style="width:10%;">CMP</td>
                    <td><input name="cmp" ng-model="vm.opportunityMaster.opportunitySummaryData.cmp" ng-disabled="isDisabled"/> </td>
                </tr>
                <tr>
                    <td style="width:15%;">M Cap</td>
                    <td><input name="marketCap" ng-model="vm.opportunityMaster.opportunitySummaryData.marketCap" ng-disabled="isDisabled"/></td>
                </tr>

                <tr class="headborder">
                    <th scope="col" colspan="3">PAT</th>
                </tr>

                <tr>
                    <td style="width:10%;">FY 2017</td>
                    <td><input name="patSecondYear" ng-model="vm.opportunityMaster.opportunitySummaryData.patSecondYear" ng-disabled="isDisabled"/></td>
                </tr>
                <tr>
                    <td style="width:10%;">FY 2018</td>
                    <td><input name="patThirdYear" ng-model="vm.opportunityMaster.opportunitySummaryData.patThirdYear" ng-disabled="isDisabled"></td>
                </tr>
                <tr>
                    <td style="width:15%;">FY 2019</td>
                    <td><input name="patFourthYear" ng-model="vm.opportunityMaster.opportunitySummaryData.patFourthYear" ng-disabled="isDisabled"/></td>
                </tr>

                <tr class="headborder">
                    <th scope="col" colspan="3">P/E</th>
                </tr>

                <tr>
                    <td style="width:15%;">FY 2017</td>
                    <td><input name="peSecondYear" ng-model="vm.opportunityMaster.opportunitySummaryData.peSecondYear" ng-disabled="isDisabled"/></td>
                </tr>
                <tr>
                    <td style="width:15%;">FY 2018</td>
                    <td><input name="peThirdYear" ng-model="vm.opportunityMaster.opportunitySummaryData.peThirdYear" ng-disabled="isDisabled"/></td>
                </tr>
                <tr>
                    <td style="width:15%;">FY 2019</td>
                    <td><input name="peFourthYear" ng-model="vm.opportunityMaster.opportunitySummaryData.peFourthYear" ng-disabled="isDisabled"/></td>
                </tr>

                <tr class="headborder">
                    <th scope="col" colspan="3">RoE</th>
                </tr>

                <tr>
                    <td style="width:15%;">FY 2018</td>
                    <td><input name="roeThirdYear" ng-model="vm.opportunityMaster.opportunitySummaryData.roeThirdYear" ng-disabled="isDisabled"/></td>
                </tr>
                <tr>
                    <td style="width:15%;">FY 2019</td>
                    <td><input name="roeFourthYear" ng-model="vm.opportunityMaster.opportunitySummaryData.roeFourthYear" ng-disabled="isDisabled"/></td>
                </tr>

                <tr class="headborder">
                    <th scope="col" colspan="3">D/E</th>
                </tr>

                <tr>
                    <td style="width:15%;">FY 18</td>
                    <td><input name="deThirdColour" ng-model="vm.opportunityMaster.opportunitySummaryData.deThirdColour" ng-disabled="isDisabled"/></td>
                </tr>

                <tr class="headborder">
                    <th scope="col" colspan="2">PAT Growth</th>
                </tr>

                <tr>
                    <td style="width:15%;">FY 2018</td>
                    <td><input name="patGrowthThird" ng-model="vm.opportunityMaster.opportunitySummaryData.patGrowthThird" ng-disabled="isDisabled"/></td>
                </tr>
                <tr>
                    <td style="width:15%;">FY 2019</td>
                    <td><input name="patGrowthFourth" ng-model="vm.opportunityMaster.opportunitySummaryData.patGrowthFourth" ng-disabled="isDisabled"/></td>
                </tr>


                <tr class="headborder">
                    <th scope="col" colspan="2">Portfolio P/E</th>
                </tr>

                <tr>
                    <td style="width:15%;">FY 2017</td>
                    <td><input name="portPeSecond" ng-model="vm.opportunityMaster.opportunitySummaryData.portPeSecond" ng-disabled="isDisabled"/></td>
                </tr>
                <tr>
                    <td style="width:15%;">FY 2018</td>
                    <td><input name="portPeThird" ng-model="vm.opportunityMaster.opportunitySummaryData.portPeThird" ng-disabled="isDisabled"/></td>
                </tr>

                <tr class="headborder">
                    <th scope="col" colspan="2">Earnings Gr</th>
                </tr>


                <tr>
                    <td style="width:15%;">FY 2018</td>
                    <td><input name="earningsThird" ng-model="vm.opportunityMaster.opportunitySummaryData.earningsThird" ng-disabled="isDisabled"/></td>
                </tr>
                <tr>
                    <td style="width:15%;">FY 2019</td>
                    <td><input name="earningsFourth" ng-model="vm.opportunityMaster.opportunitySummaryData.earningsFourth" ng-disabled="isDisabled"/></td>
                </tr>
                <tr>
                    <td style="width:15%;">Wt. Avg Mcap</td>
                    <td><input name="wtAvgCap" ng-model="vm.opportunityMaster.opportunitySummaryData.wtAvgCap" ng-disabled="isDisabled"/></td>
                </tr>
                <tr>
                    <td style="width:15%;">RoE</td>
                    <td><input name="roe" ng-model="vm.opportunityMaster.opportunitySummaryData.roe" ng-disabled="isDisabled"/></td>
                </tr>

                <tr class="headborder">
                    <th scope="col" colspan="2">PEG - FY 18</th>
                </tr>


                <tr>
                    <td style="width:15%;">O / J</td>
                    <td><input name="pegOj" ng-model="vm.opportunityMaster.opportunitySummaryData.pegOj" ng-disabled="isDisabled"/></td>
                </tr>
                <tr>
                    <th style="width:15%;">PEG</th>
                    <td><input name="pegYearPeg" ng-model="vm.opportunityMaster.opportunitySummaryData.pegYearPeg" ng-disabled="isDisabled"/></td>
                </tr>

                </tbody>
            </table>

            <button  class="btn btn-primary" ng-click="submitTable()">Submit</button>

        </dd>


	</dl>


</div>




<button type="submit" ui-sref="{{ vm.previousState }}"
	class="btn btn-info">
	<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span>
		Back</span>
</button>

<button type="button"
	ui-sref="opportunity-master.edit({id:vm.opportunityMaster.id})"
	class="btn btn-primary">
	<span class="glyphicon glyphicon-pencil"></span> <span
		class="hidden-sm-down"> Edit</span>
</button>
<!-- </form> -->
